
#view-gallery[data-theme=ladypink] {
    background: url(#{$static-url}themes/ladypink/images/ladypink-bg-texture.png) repeat;
    color: $gray-light;
    > header {
        color: $ladypink-rose;
    }
    .gallery-title {
        margin: 0 30px;
    }
    .gallery {
        border-top: 2px dotted lighten($ladypink-rose, 10%);
        margin: 10px 30px 30px;
        padding: 10px 0;
        .img {
            border: 2px solid $gray-light;
            width: 48%;
            padding-top: 48%;
            margin: 1%;
            &:first-child {
                width: 98%;
                padding-top: 98%;
            }
        }
    }
}
