
#view-hero[data-theme=ladypink] {
    background: url(#{$static-url}themes/ladypink/images/ladypink-bg-texture.png) repeat;
    padding-bottom: 50px;
    //margin-top: 100%;
    //padding-top: 30px;
    .story-cover {
        //position: fixed;
        //z-index: -1;
        //top: 0;
        //left: 0;
        margin-bottom: 30px;
        width: 100%;
        padding-top: 100%;
    }
    em, .em {
        color: $ladypink-gray;
        font-style: normal;
    }
    mark, .mark {
        color: $ladypink-gray;
        font-family: thirsty, $font-family-sans-serif;
        font-size: 170%;
        display: block;
        text-align: center;
        margin-left: -12.5%;
        margin-right: -12.5%;
    }
    .announce-text {
        color: $ladypink-rose;
        line-height: 1.5;
        width: 80%;
        max-width: 300px;
        margin: 10px auto;
        padding-bottom: 10px;
        border-bottom: 2px dotted darken($ladypink-rose, 10%);
    }
    .date {
        color: $ladypink-rose;
        font-family: veneer, $font-family-sans-serif;
    }
    .weekday {
        color: $gray-light;
        font-family: veneer, $font-family-sans-serif;
    }
    .hearts {
        height: 20px;
        background: url(#{$static-url}themes/ladypink/images/ladypink-heart-tri.png) no-repeat top center;
        background-size: contain;
        margin-bottom: 20px;
    }
    .floral {
        height: 40px;
        background: url(#{$static-url}themes/ladypink/images/ladypink-floral.png) no-repeat top center;
        background-size: contain;
        margin-top: 10px;
    }
}
