
#view-information[data-theme=ladypink] {
    background-color: #fff;
    color: $gray-light;
    > header {
        margin-top: 30px;
        margin-bottom: 10px;
        padding-top: 45px;
        background: url(#{$static-url}themes/ladypink/images/ladypink-party-icon.png) no-repeat top;
        background-size: auto 45px;
        color: $ladypink-rose;
    }
    > .container {
        max-width: $container-sm;
    }
    mark, .mark {
        color: $ladypink-rose;
    }
    article {
        margin-bottom: 30px;
    }
    .subtitle {
        color: $ladypink-gray;
        padding-bottom: 10px;
        border-bottom: 2px dotted darken($ladypink-rose, 10%);
        .fa { color: $ladypink-rose; }
    }
}
