
#view-information[data-theme=printemps] {
    color: $gray;
    background-color: $printemps-yellow;
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
    mark, .mark {
        color: $printemps-blue;
    }
    > .container {
        max-width: $container-sm;
    }
    .spliter {
        margin: 15px;
        padding-top: 5%;
        background: url(#{$static-url}themes/printemps/images/printemps-spliter.png) no-repeat bottom;
        background-size: contain;
    }
}
