@import "../../mixins";

#view-wish[data-theme=printemps] {
    background: $printemps-blue;
    color: $printemps-yellow;
    > .container {
        max-width: $container-sm;
    }
    .remerciement {
        padding-top: 10px;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
    }
    .call-for-wishes {
        @media (min-width: $screen-sm-min) {
            margin-top: 35px;
        }
    }
    mark, .mark {
        color: $gray;
    }
    @include wish-form($printemps-yellow, $gray, $printemps-yellow);
}
