
$ladypink-rose: #ff9999;
$ladypink-gray: lighten($gray-light, 5%);

$image-path: "#{$static-url}themes/ladypink/images/";
$font-path: "#{$static-url}themes/ladypink/fonts/";

@include font-face(thirsty, '#{$font-path}thirstyroughlightone-latin-webfont');
@include font-face(veneer, '#{$font-path}veneer-latin-webfont');

.view[data-theme=ladypink] {
    > header {
        > h1 {
            font-family: thirsty, $font-family-sans-serif;
        }
    }
}

@import "styles/hero";
@import "styles/couple";
@import "styles/timeline";
@import "styles/bigday";
@import "styles/map";
@import "styles/information";
@import "styles/gallery";
@import "styles/wish";
