<div class="hidden-sm hidden-xs" id="global-footer-float-group">
    <div class="footer-float-qrcode">
        <i class="fa fa-qrcode"></i>
    </div>
    <a href="javascript:void(0)" onclick="mechatClick()" class="footer-float-block">
        反馈
    </a>
    <div class="footer-float-block back-to-top">
        <i class="iconfont icon-arrow-up"></i>
        <!-- <i class="fa fa-arrow-up"></i> -->
    </div>
</div>
<footer id="global-footer" class="text-center footer clearfix">

    <div class="footer-content-container pull-right">
        <div class="footer-item">
            <ul>
                <li class="footer-title">关于我们</li>
                <li class="footer-item-content">
                    <ul>
                        <li><a href="/about">公司介绍</a></li>
                        <li><a href="/#view-features">产品功能</a></li>
                        <li><a href="/about/press">媒体报道</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="footer-item">
            <ul>
                <li class="footer-title">加入我们</li>
                <li class="footer-item-content">
                    <ul>
                        <li><a href="/about/team">团队成员</a></li>
                        <li><a href="/about/joinus">工作机会</a></li>
                        <li><a href="/about/contactus">联系方式</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="footer-item">
            <ul>
                <li class="footer-title">使用帮助</li>
                <li class="footer-item-content">
                    <ul>
                        <li><a href="/about/guide">使用说明</a></li>
                        <li><a href="/about/law">法律声明</a></li>
                        <li><a href="/about/faq">FAQ</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="footer-item">
            <ul>
                <li class="footer-title">了解更多</li>
                <li class="footer-item-content">
                    <ul>
                        <li><a href="/explore">官方社区</a></li>
                        <li><a href="http://blog.wedfairy.com/">官方博客</a></li>
                        <li><a href="http://site.douban.com/252692/">豆瓣小站</a></li>
                    </ul>
                </li>

            </ul>

        </div>
        <div class="footer-item social">
            <ul>
                <li class="footer-title">关注我们</li>
                <li class="footer-item-content">
                    <ul>
                        <li>
                            <a class="social-icon wechat" href="http://mp.weixin.qq.com/s?__biz=MzA5ODM0OTM5Mg==&mid=209005186&idx=1&sn=e9c3d663cec343fcf098a927c5d32354#rd" target="_blank">
                            <i class="fa fa-wechat"></i>
                        </a>
                        </li>

                        <li>
                            <a class="social-icon" href="http://weibo.com/u/5224024448/" target="_blank">
                                <i class="fa fa-weibo"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-logo-container pull-left">
        <div class="footer-logo">
            <a class="iconfont icon-logo" href="/"></a>
            <a class="iconfont icon-brand-ba hidden-xs" href="/"></a>
            <a class="iconfont icon-brand-yin hidden-xs" href="/"></a>
            <a class="iconfont icon-brand-he hidden-xs" href="/"></a>
        </div>
        <div class="end">
            <span class="copyright">&copy;八音盒 2017 <br/>上海风到网络科技有限公司 <br/> 021-60545631 <br/> <a href="http://www.miitbeian.gov.cn">沪ICP备14052642号</a> </span>
        </div>
    </div>
    <!-- <p class="company-info"></p> -->
   
    <div class="clearfix"></div>
    <div class="friends-links text-center">友情链接：
      <a href="https://www.heidianer.com/?utm_source=wedfairy_footer&utm_medium=referral" target="_blank">嘿店电商建站</a>
      <a href="https://uirush.com/?utm_source=wedfairy_footer&utm_medium=referral" target="_blank">设计百宝箱</a>
      <a href="https://uirush.net/?utm_source=wedfairy_footer&utm_medium=referral" target="_blank">UIRUSH素材库</a>
      <a href="https://www.timezenstudio.com/?utm_source=wedfairy_footer&utm_medium=referral" target="_blank">时禅工作室</a>
      <a href="https://erpjing.com/?utm_source=wedfairy_footer&utm_medium=referral" target="_blank">鲸管家平台</a>
      <a href="https://www.hey.shop/?utm_source=wedfairy_footer&utm_medium=referral" target="_blank">HeyShop商城</a>
    </div>

</footer>


