
<div id="global-header" class="clearfix">
    <div class="logo pull-left">
        <a class="iconfont icon-logo" href="/"></a>
    </div>
    <div class="pull-right">
        <div class="anonymous">
            <a class="btn btn-link btn-login" data-toggle="modal" data-target="#myModal">登录</a>
            <a class="btn btn-outline btn-register" href="http://site.wedfairy.com/register">免费注册</a>
        </div>
        <div class="userinfo hidden">
            <div class="avatar text-primary">
                <i class="iconfont icon-user iconfont-2x"></i>
                <i class="iconfont icon-angle-down"></i>
            </div>
            <div class="user-menu hidden">
                <div class="user-menu-item show-username"> 
                </div>
                <div class="user-menu-item change-password-btn" data-href="/change-password">
                    <i class="fa fa-lock"></i> 修改密码
                </div>
                <div class="user-menu-item logout-btn">
                    <i class="fa fa-sign-out"></i> 登出
                </div>
            </div>
        </div>
    </div>
</div>

