<section class="view" id="view-hero">
    <header class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">
                    <span class="img logo" data-bg-src="images/logo.png"></span>
                    <span class="img brand-name" data-bg-src="images/brand-name-light.png"></span>
                </a>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#view-hero">主页</a>
                    </li>
                    <li><a href="#view-workflow">流程</a></li>
                    <li><a href="#view-features">功能</a></li>
                    <li><a href="#view-howto">DIY</a></li>
                    <li><a href="#view-gallery">案例</a></li>
                    <li><a href="#global-footer">关注</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1 class="text-center text-primary hidden">八音盒</h1>
        <h2 class="text-center">一个会讲故事的婚礼邀请函</h2>
        <h4 class="text-center">让全世界一起送上祝福</h4>
        <p class="text-center">
            <a class="btn btn-primary btn-lg" href="http://site.wedfairy.com/?from=homepagehero" target="_blank">　　登录并制作　　</a>
            <a class="btn btn-primary btn-lg" href="#view-workflow">　　先了解一下　　</a>
        </p>
    </div>
</section>
