<section class="view" id="view-photographer">
    <header class="text-center">
        <h1>摄影师</h1>
        <h4>站在巨人的肩膀上</h4>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="photographer">
                    <div class="img background" data-bg-src="images/wedding/photographer-1.jpg"></div>
                    <div class="img background qrcode" data-bg-src="images/wedding/photographer-qrcode.png"></div>
                </div>
                <div class="name"><strong>范范</strong> / 资深婚礼摄影师</div>
            </div>
            <div class="col-sm-4">
                <div class="photographer">
                    <div class="img background" data-bg-src="images/wedding/photographer-2.jpg"></div>
                    <div class="img background qrcode" data-bg-src="images/wedding/photographer-qrcode.png"></div>
                </div>
                <div class="name"><strong>湖洋</strong> / 时尚杂志摄影师</div>
            </div>
            <div class="col-sm-4">
                <div class="photographer">
                    <div class="img background" data-bg-src="images/wedding/photographer-3.jpg"></div>
                    <div class="img background qrcode" data-bg-src="images/wedding/photographer-qrcode.png"></div>
                </div>
                <div class="name"><strong>墨菲</strong> / 媒体广告摄影师</div>
            </div>
        </div>
    </div>
</section>
