
/******************************************************************************/

@include keyframes(soar) {
    50% { @include transform(translate3d(0,-7px,0)); }
}


/******************************************************************************/

#view-hero {
    height: 100%;
    z-index: 2;
    color: white;
    height: 500px;
    margin-top: -55px;
    padding-top: 100px;
    > header {
        position: relative;
        padding: 0 20px;
        .slogan {
            font-size: 16px;
            margin-bottom: 30px;
        }

        @media (max-height: 710px) {
            margin-top: 150px;
        }
        @media (max-height: 600px) {
            margin-top: 100px;
        }
        @media (max-width: $screen-xs-max), (max-height: 600px) {
            h1 { font-size: $font-size-h3; }
            .slogan {
                font-size: 13px;
                margin-top: 20px;
            }
        }
    }

    .hill-image{
        width: 350px;
        height: 280px;
        position: absolute;
        z-index: 10;
        left: 50%;
        margin-left: -180px;
        margin-top: 20px;
        @include animation(soar 4s ease-in-out infinite);
    }

    .compose-button {
        background-color: $red-coral;
        color: #fff;
        padding: 10px 20px;
        &:active, &.active {
            box-shadow: none;
        }
    }
    .logo-text {
        position: absolute;
        top: 0;
        left: 20%;
        margin-top: 3%;
        height: 40px;
        width: 150px;
        background-position: left;
        background-size: contain;
        @media (max-width: $screen-xs-max) {
            background-size: cover;
            left: 50%;
            margin-left: -22px;
            margin-top: 20px;
            height: 60px;
            width: 44px;
        }
    }


    
   
}
