
@include keyframes(logoAnim) {
      0% { @include transform(rotate(  0deg)); }
     50% { @include transform(rotate(180deg)); }
    100% { @include transform(rotate(360deg)); }
}

#loading-screen {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background: #333 image-url("progress.gif") no-repeat center;
    //background-size: 64px 22px;
    background-color: #fff;
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        margin-left: -25px;
        margin-top: -25px;
        background: image-url("home/logo.svg") no-repeat center;
        background-size: contain;
    }
    .logo-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
        margin-left: -40px;
        margin-top: -40px;
        background: image-url("home/logo-circle.svg") no-repeat center;
        background-size: contain;
        @include animation(logoAnim 3s linear infinite);
    }
}

.img-loading {
    background-color: rgba(0,0,0,0);
}

.view {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    min-height: 100%;
    overflow: hidden;
}

$blue-sky: #a6d5da;
$red-coral: #d46134;
$green-land: #7ba95a;
$brown-text: #604c3f;
$yellow-text: #f9d097;

@mixin icon($size, $offsetX, $offsetY) {
    background-image: image-url("home/homepage-icon.svg");
    background-size: ($size * 10) ($size * 10);
    background-repeat: no-repeat;
    width: $size;
    height: $size;
    background-position: (-$size * ($offsetY - 1)) (-$size * ($offsetX - 1));
}
