
#view-products {
    z-index: 3;
    top: 100%;
    background-color: $red-coral;
    box-shadow: 0 0 10px rgba(darken($red-coral, 10%), 0.9);
    padding: 80px 0;
    @media (max-width: $screen-md-max) {
        padding: 50px 0;
    }
    color: #fff;
    .noise {
        background-repeat: repeat;
        background-size: 150px 150px;
        opacity: 0.5;
    }
    > header {
        padding: 20px;
        h3 { color: $yellow-text; }
        p { margin-top: 30px; }
    }
    > .container {
        max-width: $container-md;
    }
    .product {
        h4 {
            color: $yellow-text;
            @media (max-width: $screen-xs-max) {
                font-size: 1.1em;
            }
        }
        p {
            height: 5em;
        }
        .img {
            display: block;
            border-radius: 50%;
            background-color: #fdfdfc;
            &:hover {
                //background-color: #000;
                @include transform(scale(1.1,1.1));
            }
            //@include transition(background-color .35s ease-in-out);
            @include transition(transform .35s ease-in-out);
        }
        @media (min-width: $screen-sm-min) {
            .img { margin: 30px auto; }
            .img-wed { @include icon(160px, 2, 4); }
            .img-lover { @include icon(160px, 1, 1); }
            .img-idol { @include icon(160px, 1, 2); }
            .img-personal { @include icon(160px, 2,3); }
            .img-friendship { @include icon(160px, 1, 4); }
            .img-baby { @include icon(160px, 2, 1); }
            .img-pet { @include icon(160px, 1, 3); }
            .img-travel { @include icon(160px, 2, 2); }
        }
        @media (max-width: $screen-xs-max) {
            .img { margin: 20px auto; }
            .img-wed { @include icon(100px, 2, 4); }
            .img-lover { @include icon(100px, 1, 1); }
            .img-idol { @include icon(100px, 1, 2); }
            .img-personal { @include icon(100px, 2,3); }
            .img-friendship { @include icon(100px, 1, 4); }
            .img-baby { @include icon(100px, 2, 1); }
            .img-pet { @include icon(100px, 1, 3); }
            .img-travel { @include icon(100px, 2, 2); }
        }
    }
}
