#view-community {
    .container{
        max-width: $container-md;
    }

    background-color: $content-bg-color;
    padding-bottom: 60px;
    padding-top: 40px;
    z-index: 1;
    color: $navbar-bg-color !important;

    > header {
        padding: 20px;

        h3 {
            color: $navbar-bg-color;
        }
        p {
            margin-top: 30px;
            color: $navbar-bg-color;
        }
    }
    .story-container {
        margin-bottom: 20px;
        position: relative;
        .date{
            color: $navbar-bg-color;
        }

        &::before{
            background-image: url("/assets/images/home/divisor.png");
            height: 100px;
            background-repeat: no-repeat;
            position: absolute;
            width: 30px;
            background-size: contain;
            content: "";
            margin-top: 0px;
            @media (max-width:$screen-sm-max) {
                display: none;
            }
        }

        .title{
            margin-top: 5px;
            color: $navbar-bg-color !important;
            @media (max-width:$screen-sm-max) {
                margin-top: 0px;
                text-align: center;
            }
        }

        .content{
              margin-top: 10px;
              font-size: .9em;
              color: $navbar-bg-color !important;
              @media (max-width:$screen-sm-max) {
                // margin-bottom: 30px;
            }

        }

        .img-wed {
            // @include icon(30px, 2, 4);
            margin-left: 20px;
            @include icon(100px, 2, 4);
            @media (max-width:$screen-sm-max) {
                margin: 0 auto;
            }
        }
        
    
    }
    .story-case-cover {
        // width: 900px;
        display: block;
        min-height: 500px;
        margin: 0 auto;
        margin-bottom: 50px;

        @media (max-width:$screen-xs-max) {
            width: inherit;
            min-height: initial;
            padding-top: 100%;
            margin-bottom: 10px;
            background-image: url("/assets/images/home/case/story-case-cover-m.jpg") !important;
        }
    }
    .content.visible-xs-block{
        margin-bottom: 50px;
    }

    .type-case-container {
        max-width: $container-md;
        // margin-bottom: 20px;

        .type-case {

            &::before {
                background-image: url("/assets/images/home/divisor.png");
                height: 90px;
                background-repeat: no-repeat;
                position: absolute;
                width: 30px;
                background-size: contain;

                content: "";
                left: 0;
                margin-left: 3px;

            }
            .image-shower {
                .sprite {
                    @include transform(scale(.6) translateX(-22%) translateY(-35%));
                }
            }
            .content {
                margin-top: -160px;
                margin-left: 114px;

                @media (max-width:$screen-sm-max) and (min-width:$screen-xs-max) {
                    margin-top: -70px;
                    margin-left: 5px;
                }


                .text {
                    color: $navbar-bg-color;
                    font-size: .9em;
                }
            }
        }
    }
    .story-box-xs-container {

        .story-box-xs {
            padding: 0;
            margin: 0 auto;
            width: 270px;
            margin-bottom: 50px;

            .img-shower {
                display: block;
                margin-bottom: 0px;
                padding-top: 100%;
            }
            .type-case {
                padding: 0;

                .image-shower {
                    margin-left: -10px;

                }
                .content {
                    position: absolute;
                    margin-top: -88px;
                    width: 155px;
                    margin-left: 100px;
                }
            }
        }
    }
    .story-box-container {
        margin-top: 30px;
        max-width: $container-md;
        min-height: 330px;
        margin-bottom: 60px;

        .story-box {

            .img-shower {
                display: block;
                margin-bottom: 0;
                padding-top: 100%;
            }
        }
        .text-box {
            color: $content-bg-color;
            text-align: center;
            padding-top: 1em;
            padding-bottom: 1em;
            background-color: $navbar-bg-color;

            &::before {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 15px 30px 0 0;
                border-color: $content-bg-color transparent transparent transparent;
                content: "";
                position: absolute;
                left: 0;
                margin-left: 15px;
                margin-top: -14px;
            }
        }
    }
    .community-btn {
        background-color: $red-coral;
        color: #fff;
        padding: 10px 100px;
        margin-bottom: 50px;
    }
}