#faq {
    color: $light-text-color;
    .sub-title{
        color: $navbar-bg-color;
        margin-left: 50px;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .page-title {
        color: $navbar-bg-color;
        font-size: 30px;
        margin:0;
        height: 100px;
        line-height: 100px;
        // background-color: #EDEBEB;
    }
    pre {
        // margin-left: 50px;
        margin: 20px 0;
        padding: 0;
        color: $light-text-color;
        background-color: inherit;
        border: none;
        overflow: hidden;
    }
}