.footer {
    width: 100%;
    bottom: 0;
    margin-top: 60px;
    // position: absolute;
    // bottom: 0;
    background-color: $navbar-bg-color;
    border-radius: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    @extend .clearfix;

    .footer-link-container {
        margin: 0 auto;
        // height: 130px;
        max-width: 830px;

        .qr-section {
        }
        .footer-item {
            color: white !important;
            text-align: center;
            padding-top: 10px;

            .qr-container {
                width: 55px;
                height: 55px;
                background-color: white;
                margin: 0 auto;
                margin-top: 10px;

                img {
                    width: 45px;
                    height: 45px;
                    margin-top: 5px;
                }
            }
            a {
                @include hoverable(white);
            }
        }
    }
    .footer-copyright {
        padding-top: 20px;
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
        border-top: 1px solid rgba($footer-color, .5);
        text-align: center;
        color: $footer-color !important;
        max-width: 800px;
        
        .copyright-text{
            font-size: 12px;
        }

        .social-icon {
            a:hover {
                .iconfont {
                    color: darken($footer-color, 10) !important;
                }
            }
            .iconfont {
                color: $footer-color !important;
                margin-left: 15px;
                margin-right: 10px;

                &:hover {
                    color: darken($footer-color, 10) !important;
                }
            }

            .weixin-container{
                cursor: pointer;
                display: inline-block;
                //border-radius: 10px;
                //border: 1px solid #fff;
                @include transition(all .35s ease-in-out);
                text-align: center;
                height: 41px;
                width: 41px;

                &:hover{

                    @include transition(transform .1s ease-in-out);
                    @include transform(scale(3, 3));
                    @include transform-origin(0% 120%);
                    background: image-url("weixin-qrcode.jpg") no-repeat center;
                    background-size: 43px 43px;
                    border-radius: 0;
                    border-color: rgba(#fff,0);
                    .icon-weixin { visibility: hidden; }
                }
            }
        }
    }
}