.header {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #323a45;
    overflow: hidden;
}

.logo-container {
    margin-left: 30px;
    // margin-top: 30px;
    border-radius: 3px;
    .iconfont {
        color: #fff;
        width: 38px;
        background-color: $brand-primary;
        text-align: center;
        padding: 5px 4px;
        border-radius: 2px;
        font-size: 30px;
        &:before {
            color: white;
        }
    }
}
.login-container {
    // display: none;
    margin: 5px 15px 0;
    // margin-top: ;
    ul {
        margin: 0;
        height: 100%;
        li{
            // width: 100px;
            height: 100%;
            color: $gray;
            padding: 6px 20px;
            text-align: center;
            display: inline-block;
            vertical-align:middle;
            position: relative;
            a {
                color: white;
            }
            i {
                // display: none;
                color: $brand-primary;
                a {
                    height: 30px;
                    line-height: 30px;
                }
            }
            a:hover {
                color: $brand-primary;
            }
        }
        .register-box {
            border: 1px solid $brand-primary;
            border-radius: 3px;
            a {
                color: $brand-primary;
            }
        }
    }     
}
.user-log {
    margin-right: 25px;
    .user-info {
        margin-top: 5px;
        height: 100%;
        // width: 100%;
        .icon-user {
            font-size: 30px;
        }
        .icon-angle-down::before {
            font-size: 15px;
        }
        &:hover {

        }
    }
}

.user-menu {
    // height: 99px;
    width: 100px;
    position: absolute;
    right: 0px;
    z-index: 1;
    top: 0;
    background-color: #eee;
    margin-top: 75px;

    .user-menu-item {
        cursor: pointer;
        color: #656666;
        padding-left: 16px;
        padding-top: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba($gray-light, .5);

        &:hover {
            color: $brand-primary;

            .iconfont:before {
                color: $brand-primary;
            }
        }
        .iconfont {
            color: #656666;
            font-size: 16px;
        }
        .icon-tuichu {
            font-size: 17px;
        }
        &:first-child {
            padding-top: 15px;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}
