
.header {
    // margin-top: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    overflow: hidden;
}

.logo-container {
    margin-left: 15px;
    margin-top: 8px;
}
.login-container {
    // display: none;
    margin: 8px 15px 0;
    // margin-top: ;
    ul {
        margin: 0;
        height: 100%;
        li{
            // width: 100px;
            height: 100%;
            color: $gray;
            padding: 6px 20px;
            text-align: center;
            display: inline-block;
            vertical-align:middle;
            position: relative;
            a {
                color: white;
            }
            i {
                // display: none;
                color: $brand-primary;
                a {
                    height: 30px;
                    line-height: 30px;
                }
            }
            a:hover {
                color: $brand-primary;
            }
        }
        .register-box {
            border: 1px solid $brand-primary;
            border-radius: 3px;
            a {
                color: $brand-primary;
            }
        }
    }     
}
.user-log {
    margin-right: 25px;
    .user-info {
        margin-top: 8px;
        height: 100%;
        // width: 100%;
        .icon-user {
            font-size: 30px;
        }
        .icon-angle-down::before {
            font-size: 15px;
        }
        &:hover {

        }
    }
}

.user-menu {
    // height: 99px;
    background-color: $content-bg-color;
    width: 100px;
    position: absolute;
    right: 0px;
    z-index: 1;
    top: 0;
    margin-top: 55px;

    .user-menu-item {
        @include hoverable($title-color);
        @extend .pointer;
        color: #656666;
        padding-left: 16px;
        padding-top: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba($border-color, .5);

        &:hover {
            color: $main-color !important;

            .iconfont:before {
                color: $main-color;
            }
        }
        .iconfont {
            color: #656666;
            font-size: 16px;
        }
        .icon-tuichu {
            font-size: 17px;
        }
        &:first-child {
            padding-top: 15px;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}
