#joinus {
    color: $text-color;
    .page-title {
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 30px;
        // color: $navbar-bg-color;
    }
    .mail-addr {
        &>a {color: $wedfairy-color;}
    }

    .job-desc {
        padding-top: 0;
        h3 {
            // font-weight: 600;
            margin: 60px auto 0;
        }

    }
}