#law {
    color: $light-text-color;
    // .header {
    //     // border-bottom: 1px solid grey;
    //     border-bottom: 1px solid $gray-light;
    // }
    // .nav-container {
    //     margin-right: 30px;
    //     margin-top: 15px;

    //     li{
    //         margin-left: 60px;
    //         color: black;
    //         display: inline-block;
    //         a {
    //             color: $gray-light;
    //         }
    //         a:hover {
    //             color: $gray;
    //         }
    //         i {
    //             color: $brand-primary;
    //         }
    //     }
    // }
    .page-title {
        // margin-top: 50px;
        // margin-left: 50px;
        // margin-bottom: 30px;
        // padding-left: 
        font-size: 30px;
        margin:0;
        height: 100px;
        line-height: 100px;

        // background-color: #EDEBEB;

    }
    pre {
        // margin-left: 50px;
        margin: 20px 0;
        padding: 0;
        color: $light-text-color;
        background-color: inherit;
        border: none;
        overflow: hidden;
    }
}