.about-header {
    // margin-top: 0;
    padding-top: 10px 0 50px;
    // height: 400px;
    background-position: 50% 100%;
    // width: 100%;
    overflow: hidden;
}

#about-nav {
    margin-bottom: 60px;
	height: 400px;
}

.logo-container {
    margin-left: 30px;
    margin-top: 8px;
}
.login-container {
    margin-right: 30px;
    margin-top: 15px;

    li{
        margin-left: 15px;
        color: black;
        display: inline-block;

        i {
            // display: none;
            color: $wedfairy-color;
        }
        a:hover {
            color: $wedfairy-color;
        }
    }

}
