#press {
    color: $light-text-color;

    .container-fluid {

        .report-item {
            border-top: 1px solid $gray-lighter;
            padding-top: 30px;
            padding-bottom: 30px;
            position: relative;
            // padding-right: 40%;

            &:first-child {
                margin-top: 50px;
            }

            h4 {
                font-size: 1.2em;
            }
            a {
                color: $brand-primary;

            }

            .item-img {
                background-position: center right;
                height: 180px;
            }
        }


    }
    .page-title {
        font-size: 30px;
        margin:0;
        height: 100px;
        line-height: 100px;


    }
}