#faq {
    color: $light-text-color;
    .page-title {
        color: $navbar-bg-color;
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 30px;
    }
    .sub-title{
        color: $navbar-bg-color;
        margin-left: 50px;
        font-size: 18px;
        margin-bottom: 20px;
    }
    pre {
        margin-left: 50px;
        color: $light-text-color;
        background-color: inherit;
        border: none;
        overflow: hidden;
    }
}