.header {
    // margin-top: -8px;
    padding-top: 10px;
    padding-bottom: 10px;

    .logo-container {
        margin-left: 20px;
    }
    .avatar-container {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 11px;
        margin-right: 100px;
        @extend .pointer;

        .avatar-round {
            width: 30px;
            height: 30px;
            background-color: #D7D7D5;
            border-radius: 15px;
            padding-left: 7px;
            padding-top: 0px;
        }
        .icon-touxiang {
            font-size: 20px;
            margin-left: -2px;
        }
        .icon-jiantou {
            position: absolute;
            right: 0;
            top: 0;
            margin-right: -33px;
            margin-top: 7px;
            font-size: 18px;
            @include hoverable($light-text-color);
        }
        .icon-menu {
            font-size: 16px;
            margin-top: -22px;
            position: absolute;
            right: 0;
            margin-right: -65px;
        }
    }
    .extra-menu {
        background-color: $content-bg-color;
        width: 140px;
        position: absolute;
        right: 0px;
        z-index: 1;
        top: 0;
        margin-top: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 35px;
        padding-left: 10px;

        .extra-menu-item, .extra-menu-small-item {
            @extend .pointer;
            color: $label-color;
            padding-top: 7px;
            padding-left: 10px;
            padding-bottom: 2px;
            display: block;

            &:hover {
                color: $main-color !important;
            }
            a {
                color: $label-color !important;
            }
            &:hover a {
                color: $main-color !important;
            }
        }
        .extra-menu-small-item {
            font-size: .8em;
        }
    }
    .user-menu {
        background-color: $content-bg-color;
        width: 125px;
        position: absolute;
        right: 33px;
        z-index: 1;
        top: 0;
        margin-top: 46px;

        .user-menu-item {
            @include hoverable($title-color);
            @extend .pointer;
            color: $label-color;
            padding-left: 16px;
            padding-top: 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba($border-color, .5);

            &:hover {
                color: $main-color !important;

                .iconfont:before {
                    color: $main-color;
                }
            }
            .iconfont {
                color: #656666;
                font-size: 16px;
            }
            .icon-tuichu {
                font-size: 17px;
            }
            &:first-child {
                padding-top: 15px;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .right-nav {
        float: right;
        width: 180px;
        margin-top: -25px;

        .nav-item {
            display: inline-block;
            margin-left: 20px;

            &:hover {
                a, i {
                    color: darken($label-color, 20) !important;
                }
            }
            a {
                color: $label-color !important;
            }
            i {
                font-size: 16px;
            }
        }
    }
}
#global-header-modal-container {
    position: fixed;
    top: 22%;
    left: 50%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 100000;
    background-color: #F0F0EF;
    padding: 20px;
    display: none;
    margin-left: -125px;
}