.header {
    // margin-top: -8px;
    padding-top: 10px;
    padding-bottom: 10px;

    .logo-container {
        margin-left: 20px;
    }
    .right-nav {
        float: right;
        width: 180px;
        margin-top: -25px;

        .nav-item {
            display: inline-block;
            margin-left: 20px;

            &:hover {
                a, i {
                    color: darken($label-color, 20) !important;
                }
            }
            a, i {
                color: $label-color !important;
            }
            i {
                font-size: 16px;
            }
        }
    }
}
#modal-container {
    position: fixed;
    top: 22%;
    left: 50%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 100000;
    background-color: #F0F0EF;
    padding: 20px;
    display: none;
    opacity: 0;
}