<div id="global-banner">
    <div class="banner-wrapper img" data-bg-src="images/global-banner-text.png" onclick="Amour.openWindow('/');">
        <div class="logo img" data-bg-src="images/global-banner-icon.png"></div>
    </div>
</div>
