
//$aki-red: #c4415d;
$aki-red: #da666a;
//$aki-blue: #372d3b;
$aki-blue: #4f3043;
$aki-white: #ffffde;

$image-path: "#{$static-url}themes/aki/images/";
$font-path: "#{$static-url}themes/aki/fonts/";

@include font-face(bandasemibold, '#{$font-path}bandasemibold-webfont');
@include font-face(bandathin, '#{$font-path}bandathin-webfont');

.view[data-theme=aki] {
    a, a:hover, a:focus {
        color: $aki-white;
        text-decoration: none;
    }
    mark, .mark {
        font-size: 120%;
        font-family: bandasemibold, $font-family-sans-serif;
    }
    > header {
        padding: 0 15px;
        margin-top: 50px;
        margin-bottom: 50px;
        > h1 {
            font-size: 70px;
            font-family: bandasemibold, $font-family-sans-serif;
            @media (max-width: $screen-xs-max) {
                font-size: 45px;
            }
        }
    }
}

@import "styles/hero";
@import "styles/couple";
@import "styles/timeline";
@import "styles/bigday";
@import "styles/map";
@import "styles/information";
@import "styles/gallery";
@import "styles/wish";
