
$printemps-yellow: #fff9dd;
$printemps-gold: #e0a14a;
$printemps-blue: #2eb2bb;
$printemps-cyan: #bee5db;

$image-path: "#{$static-url}themes/printemps/images/";
$font-path: "#{$static-url}themes/printemps/fonts/";

@include font-face(bandasemibold, '#{$font-path}bandasemibold-webfont');

.view[data-theme=printemps] {
    mark, .mark {
        color: $printemps-gold;
        font-family: bandasemibold, $font-family-sans-serif;
    }
    > header {
        padding: 0 15px;
        margin-top: 50px;
        margin-bottom: 50px;
        > h1 {
            font-family: bandasemibold, $font-family-sans-serif;
            font-size: 70px;
            @media (max-width: $screen-xs-max) {
                font-size: 45px;
            }
        }
    }
}

@import "styles/hero";
@import "styles/couple";
@import "styles/timeline";
@import "styles/bigday";
@import "styles/map";
@import "styles/information";
@import "styles/gallery";
@import "styles/wish";
