<section class="slider hidden-xs">
    <!-- slider -->
    <div id="wed-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#wed-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#wed-carousel" data-slide-to="1"></li>
            <li data-target="#wed-carousel" data-slide-to="2"></li>
            <li data-target="#wed-carousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="http://www.wedfairy.com/explore/boutique" target="_blank">
                    <div class="img slide-img" data-bg-src="images/slide/boutique.jpg" alt=""></div>
                </a>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <a href="http://story.wedfairy.com/story/d15129" target="_blank">
                    <div class="img slide-img" data-bg-src="images/slide/0.jpg" alt=""></div>
                </a>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <a href="http://story.wedfairy.com/story/b56e33" target="_blank">
                    <div class="img slide-img" data-bg-src="images/slide/1.jpg" alt=""></div>
                </a>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <a href="http://story.wedfairy.com/story/b32ee6" target="_blank">
                    <div class="img slide-img" data-bg-src="images/slide/2.jpg" alt=""></div>
                </a>
                <div class="carousel-caption">
                </div>
            </div>

        </div>
         <!-- Controls -->
        <a class="left carousel-control hidden-xs" href="#wed-carousel" role="button" data-slide="prev">
            <span class="iconfont icon-angle-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control hidden-xs" href="#wed-carousel" role="button" data-slide="next">
            <span class="iconfont icon-angle-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>