<section class="filter-nav">
        <div class="container">
            <div class="row filter-container">
                <div class="filter pull-left">
                    <ul class="nav nav-pills">
                        <li><a href="/explore">全部</a></li>
                        <li><a href="/explore/staffpicks" filter-name="staffpicks">推荐故事</a></li>
                        <li><a href="/explore/hot" filter-name="hot">热门故事</a></li>
                        <li class="hidden-xs"><a href="/explore/wedding" filter-name="wedding">婚礼</a></li>
                        <li class="hidden-xs"><a href="/explore/baby" filter-name="baby">宝贝</a></li>
                        <li class="hidden-xs"><a href="/explore/voyage" filter-name="voyage">旅行</a></li>
                        <li>
                            <div class="btn-group">
                               <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                  更多 <span class="caret"></span>
                               </button>
                               <ul class="dropdown-menu" role="menu">
                                    <li class="visible-xs-* hidden-sm hidden-md hidden-lg"><a class="text-center" href="/explore/wedding" filter-name="wedding">婚礼</a></li>
                                    <li class="visible-xs-* hidden-sm hidden-md hidden-lg"><a class="text-center" href="/explore/baby" filter-name="baby">宝贝</a></li>
                                    <li class="visible-xs-* hidden-sm hidden-md hidden-lg"><a class="text-center" href="/explore/voyage" filter-name="voyage">旅行</a></li>
                                    <li><a class="text-center" href="/explore/lover" filter-name="lover">爱人</a></li>
                                    <li><a class="text-center" href="/explore/friendship" filter-name="friendship">友情</a></li>
                                    <li><a class="text-center" href="/explore/idol" filter-name="idol">偶像</a></li>
                                    <li><a class="text-center" href="/explore/family" filter-name="family">家人</a></li>
                                    <li><a class="text-center" href="/explore/personal" filter-name="personal">个人</a></li>
                                    <li><a class="text-center" href="/explore/food" filter-name="food">美食</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <form class="search-box pull-right" role="search">
                    <button type="submit" class="pull-right"><i class="fa fa-search fa-2x"></i></button>
                    <input type="text" class="form-control pull-left" name="title" placeholder="搜索" />
                </form>    
            </div>
        </div>
    </section>