
.about-header {
    border-bottom: 1px solid $gray-lighter;
    padding-top: 10px;
    padding-bottom: 15px;

    .nav-container {
        margin: 0;
        width: 100%;
        text-align: center;
        ul {
            padding: 0;
        }
        li {
            text-align: center;
            // width: 30%;
            margin: 0 15px;
            color: black;
            display: inline-block;
            a {
                color: $gray-light;
            }
            a:hover {
                color: $gray;
            }
            i {
                color: $brand-primary;
            }
        }
    }
}
