<div id="footer" class="container-fluid"><div class="row">
    <div class="col-md-12 col-sm-12 bg">
        <div class="col-md-12 col-sm-12 content-container">
            <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                <p class="subtitle">扫描二维码使用手机制作</p>
                <div class="img-shower qrcode-composer"></div>
                <div class="social-icon-container">
                    <span class="iconfont icon-weixin"></span>
                    <span class="iconfont icon-weibo"></span>
                    <span class="iconfont icon-rss"></span>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12 footer-link-container">
                <span class="link-container">
                    <a href="">联系我们</a>
                </span>
                <span class="link-container">
                    <a href="">加入我们</a>
                </span>
                <span class="link-container">
                    <a href="">关于我们</a>
                </span>
                <span class="link-container">
                    <a href="">法律声明</a>
                </span>
                <span class="link-container">
                    <a href="">帮助</a>
                </span>
            </div>
        </div>
        
    </div>
    

</div></div>
