<div id="footer" class="container-fluid"><div class="row">
    <div class="col-md-12 col-sm-12 bg"></div>
    <div class="col-md-12 col-sm-12 content-container">
        <div class="col-md-4 col-sm-4">
            <p class="subtitle">扫描二维码使用手机制作</p>
            <div class="img-shower qrcode-composer"></div>
        </div>

    </div>



</div></div>