<div id="header" class="container-fluid"><div class="row">
    <div class="col-md-4 col-sm-4">


    </div>

    <div class="col-md-4 col-sm-4 menu-container">
        <div class="col-md-3 col-sm-3">社区</div>
        <div class="col-md-3 col-sm-3">场景</div>
        <div class="col-md-3 col-sm-3">社区</div>
        <div class="col-md-3 col-sm-3">场景</div>
    </div>

    <div class="col-md-4 col-sm-4 login-menu-container">
        <div class="col-md-3 col-sm-3 col-md-offset-3 col-sm-offset-3">注册</div>
        <div class="col-md-3 col-sm-3">登录</div>
        <div class="col-md-3 col-sm-3">menu</div>
    </div>




</div></div>