<div id="hero" class="container-fluid"><div class="row">
    <div class="col-md-5 col-sm-5">
        <div class="text-container">
            <div class="">
                <span class="logo-text">八音盒</span> 
                <span class="logo-subtext">轻故事</span>
            </div>
            <div class="" >
                用手机讲一个有趣的故事 连接你爱的人
            </div>
            <div class="">
                现在制作故事 限时<span>免费</span>
            </div>
            <div class="btn start-make-btn">开始制作</div>
        </div>

    </div>
     <div class="hero-image">
        <div class="img-shower"></div>
    </div>
    <div class="clearfix"></div>


    <div class="scroll-down-btn"></div>


    <div class="intro-container">
        <div class="intro-header">创建属于你自己的故事</div>
        <div class="intro-content">创建属于你自己的故事创建属于你自己的故事创建属于你自己的故事创建属于你自己的故事创建属于你自己的故事创建属于你自己的故事创建属于你自己的故事创建属于你自己的故事创建属于你自己的故事创建属于你自己的故事</div>
    </div>


    

   


</div></div>

