<div id="scene" class="container-fluid"><div class="row">

    <div class="col-md-6 col-sm-6">
        <div class="ipad image-shower">
            <div class="scene-container">
                <div class="scene" data-scene="ipad-scene1">
                </div>
                <div class="scene" data-scene="ipad-scene1">
                </div>
            </div>
        </div>

        <div class="iphone image-shower">
            <div class="scene-container">
                <div class="scene" data-scene="iphone-scene1">
                </div>
            </div>
        </div>

    </div>


    <div class="col-md-6 col-sm-6 scene-story-container">
        <div class="scene-story">
            <div class="scene-story-header">婚<span class="red-border">礼邀请</span>函</div>
            <div class="scene-story-content">莫迪访问中国的消息早在几个月之前就已经传出，不过，据《印度时报》报道，印方原计划安排莫迪先访问韩国，再去中国和蒙古国。但莫迪后来更改计划，决定首站来华。作为回报，中国将首次以唐代仪式欢迎莫迪。</div>

        </div>


    </div>




</div></div>