<section class="view" id="view-community"
    data-_enter_products="transform:translate3d(0,0px,0);"
    data-_enter_community="transform:translate3d(0,0px,0);"
   >

     <header class="text-center">
        <h3>我们的社区</h3>
        <p>一起听听更多关于家园, 灵感与生活共享的八音盒故事!</p>
    </header>

    <div class="story-container container center-block"><div class="row">
        <div class="col-md-2"><div class="sprite img-wed"></div></div>
        <div class="col-md-3 title text-center">
            <h4 class="light-text">2015年3月17日</h4>
            <h3>"京沪"爱情故事</h3>
        </div>

        <div class="col-md-7 content light-text hidden-xs">
            4年3个月零17天，在相隔1260公里的北京和上海，我们只能用一种叫做“异地恋”的方式彼此相拥。
在这1569个日日夜夜中，只能拥有来回往返两地的飞机历程，只能拥有通话时倾听对方声音的欢愉，只能拥有相互分享的照片，只能拥有互相鼓励的言语。
过程中太多的心酸和黯然神伤不知道怎么讲，只记得你说出“嫁给我吧”，所有的等待守候全部有了意义。 
        </div>


    </div></div><!-- end of story-container -->

    <div class="container">
        <a class="img story-case-cover" target="_blank" href="http://story.wedfairy.com/story/b32ee6/?from=homepage" data-bg-src="images/home/case/story-case-cover.png"></a>
         <div class="col-md-8 content light-text visible-xs-block">
            4年3个月零17天，在相隔1260公里的北京和上海，我们只能用一种叫做“异地恋”的方式彼此相拥。
在这1569个日日夜夜中，只能拥有来回往返两地的飞机历程，只能拥有通话时倾听对方声音的欢愉，只能拥有相互分享的照片，只能拥有互相鼓励的言语。
过程中太多的心酸和黯然神伤不知道怎么讲，只记得你说出“嫁给我吧”，所有的等待守候全部有了意义。 
        </div>
    </div>

    <div class="type-case-container container center-block hidden-xs"><div class="row">
        <div class="type-case col-md-4 col-sm-4">
            <div class="image-shower">
                <div class="sprite img-travel"></div>
            </div>

            <div class="content">
                <h5>游走意大利的文艺时光</h5>
                <div class="text">用一段充满诗意的文艺时光，谱写了一段《罗马假日》的圆梦之旅。</div>
            </div>


        </div>
        <div class="type-case col-md-4 col-sm-4">
            <div class="image-shower">
                <div class="sprite img-idol"></div>
            </div>

            <div class="content">
                <h5>遥遥相望，初心不忘</h5>
                <div class="text">每一次的宣传，每一次的出谋划策，都是“鹿饭”最好的守护。</div>
            </div>

        </div>
        <div class="type-case col-md-4 col-sm-4">
            <div class="image-shower">
                <div class="sprite img-friendship"></div>
            </div>

            <div class="content">
                <h5>两个“二”姑娘的爱恨情仇</h5>
                <div class="text">214携手逛宜家，520一起去游泳；未来，还可以更疯狂。</div>
            </div>
        </div>
    </div></div><!-- end of type case desktop-->



    <div class="story-box-container container center-block hidden-xs"><div class="row">

        <div class="story-box col-md-4 col-sm-4">
            <a class="img img-shower" target="_blank" href="http://story.wedfairy.com/story/b56e33/?from=homepage" data-bg-src="images/home/case/case1.png"></a>
            <div class="text-box">资深文艺范之旅</div>
        </div>

        <div class="story-box col-md-4 col-sm-4">
            <a class="img img-shower" target="_blank" href="http://story.wedfairy.com/story/a6a6d3/?from=homepage" data-bg-src="images/home/case/case2.png"></a>
            <div class="text-box">“鹿饭”队长来应援</div>
        </div>

        <div class="story-box col-md-4 col-sm-4">
            <a class="img img-shower" target="_blank" href="http://story.wedfairy.com/story/gracemirage" data-bg-src="images/home/case/case3.png"></a>
            <div class="text-box">异地闺蜜见真情</div>
        </div>


    </div></div><!-- end of story-box-container -->


    <div class="story-box-xs-container container center-block hidden-sm hidden-md hidden-lg">
        <div class="story-box-xs">
            <a class="img img-shower" target="_blank" href="http://story.wedfairy.com/story/b56e33/?from=homepage" data-bg-src="images/home/case/case1.png"></a>
            <div class="type-case col-md-4">
                <div class="image-shower">
                    <div class="sprite img-travel"></div>
                </div>

                <div class="content">
                    <h5><strong>游走意大利的文艺时光</strong></h5>
                    <div class="text">用一段充满诗意的文艺时光，谱写了一段《罗马假日》的圆梦之旅。</div>
                </div>
            </div>
        </div>

        <div class="story-box-xs">
            <a class="img img-shower" target="_blank" href="http://story.wedfairy.com/story/a6a6d3/?from=homepage" data-bg-src="images/home/case/case2.png"></a>
            <div class="type-case col-md-4">
                <div class="image-shower">
                    <div class="sprite img-idol"></div>
                </div>

                <div class="content">
                    <h5><strong>遥遥相望，初心不忘</strong></h5>
                    <div class="text">每一次的宣传，每一次的出谋划策，都是“鹿饭”最好的守护。</div>
                </div>
            </div>
        </div>

        <div class="story-box-xs">
            <a class="img img-shower" target="_blank" href="http://story.wedfairy.com/story/gracemirage" data-bg-src="images/home/case/case3.png"></a>
            <div class="type-case col-md-4">
                <div class="image-shower">
                    <div class="sprite img-friendship"></div>
                </div>

                <div class="content">
                    <h5><strong>两个“二”姑娘的爱恨情仇</strong></h5>
                    <div class="text">214携手逛宜家，520一起去游泳；未来，还可以更疯狂。</div>
                </div>
            </div>
        </div>



    </div><!-- mobile version of story box -->


    <div class="text-center">
        <a class="btn community-btn" href="/explore">进入社区</a>
    </div>

</section>