<section class="view" id="view-community"
    data-_enter_products="transform:translate3d(0,0px,0);"
    data-_enter_community="transform:translate3d(0,0px,0);"
   >

     <header class="text-center">
        <h3>我们的社区</h3>
        <p>一起听听更多关于家园, 灵感与生活共享的八音盒故事!</p>
    </header>

    <div class="story-container center-block">
        <div class="story-left-boder"></div>
        <div class="sprite sprite-travel"></div>
        <div class="content">
            <div class="col-md-3">
                <h4 class="light-text">2015年3月17日</h4>
                <h3>意大利之旅</h3>
            </div>

            <div class="col-md-9 light-text">
            学生时代就逛遍了北京那些文艺范儿的资源，从国博到首博再到 798、草场地、今日美术馆，甚至一些稀奇古怪的诸如中国铁路博物馆、汽车博物馆之类的场所。热爱一切与文化、艺术相关的东西，画展、戏剧、音乐会，一年下来话剧也看了百余场。 其实心里有一个“打包全世界”的计划，在家里的一角收藏来自世界各地有格调的纪念品，如今已经珍藏了不少，可是眼里最美的意大利...

            </div>

        </div>       

    </div>
    <div class="clearfix"></div>
    <div class="img story-case-cover" data-bg-src="images/home/story-case-cover.png"></div>
    <div class="clearfix"></div>

    <div class="type-case-container center-block">
        <div class="type-case col-md-4">
            <div class="image-shower">
                <div class="sprite sprite-pet"></div>
            </div>

            <div class="content">
                <h4>随便打些文字当填</h4>
                <div class="text">随便打些文字当填充的字随便打些文字当填充的字随便打些文字当填充的字些文字当填充的字</div>
            </div>


        </div>
        <div class="type-case col-md-4">
            <div class="image-shower">
                <div class="sprite sprite-travel"></div>
            </div>

            <div class="content">
                <h4>随便打些文字当填</h4>
                <div class="text">随便打些文字当填充的字随便打些文字当填充的字随便打些文字当填充的字些文字当填充的字</div>
            </div>

        </div>
        <div class="type-case col-md-4">
            <div class="image-shower">
                <div class="sprite sprite-personal"></div>
            </div>

            <div class="content">
                <h4>随便打些文字当填</h4>
                <div class="text">随便打些文字当填充的字随便打些文字当填充的字随便打些文字当填充的字些文字当填充的字</div>
            </div>
        </div>
    </div><!-- end of type case -->

    <div class="clearfix"></div>

    <div class="story-box-container center-block">

        <div class="story-box col-md-4">
            <div class="img img-shower" data-bg-src="images/home/case1.png"></div>
            <div class="text-box">便打些文字当填充的字</div>
        </div>

        <div class="story-box col-md-4">
            <div class="img img-shower" data-bg-src="images/home/case2.png"></div>
            <div class="text-box">便打些文字当填充的字</div>
        </div>

        <div class="story-box col-md-4">
            <div class="img img-shower" data-bg-src="images/home/case3.png"></div>
            <div class="text-box">便打些文字当填充的字</div>
        </div>


    </div><!-- end of story-box-container -->

    <div class="text-center">
        <a class="btn community-btn" href="">进入社区</a>
    </div>

</section>