<section class="view" id="view-features"
    data-_enter_products="transform:translate3d(0,-100%,0);opacity:0;"
    data-_leave_products="transform:translate3d(0,-100%,0);opacity:1;">
    
    <div class="clearfix">
        <div class="cube pull-left"
            data-_enter_features="opacity: 0;"
            data-_enter_features-100p="opacity: 1;"
            data-_enter_features-200p="opacity: 0;">
            <h1>1</h1>
        </div>
        <div class="cube pull-left"
            data-_enter_features-100p="opacity: 0;"
            data-_enter_features-200p="opacity: 1;"
            data-_enter_features-300p="opacity: 0;">
            <h1>1</h1>
        </div>
        <div class="cube pull-left"
            data-_enter_features-200p="opacity: 0;"
            data-_enter_features-300p="opacity: 1;"
            data-_enter_features-400p="opacity: 0;">
            <h1>1</h1>
        </div>
        <div class="cube pull-left"
            data-_enter_features-300p="opacity: 0;"
            data-_enter_features-400p="opacity: 1;"
            data-_enter_features-500p="opacity: 0;">
            <h1>1</h1>
        </div>
    </div>
</section>
