
<section class="view" id="view-features"
    data-_enter_products="transform:translate3d(0,0%,0);"
    data-_enter_features="transform:translate3d(0,0%,0);"
    data-_leave_features--100p="transform:translate3d(0,0%,0);"
    data-_leave_features="transform:translate3d(0,-50%,0);">
    
    <header class="text-center container hidden-xs">
        <h2>了解玩法</h2>
        <p>热衷于去发现生活中的美好，乐于去表达自己的快乐</p>
        <p>与全世界每一个角落的小伙伴们一起创造一张创意的地图</p>
    </header>

    <div class="background img bg" data-bg-src="images/home/features-bg-far.svg"
        data-_enter_products="transform:translate3d(0,20%,0);"
        data-_enter_products-100p="transform:translate3d(0,2%,0);"
        data-_leave_features--100p="transform:translate3d(0,0%,0);"></div>
    
    <div class="background img bg" data-bg-src="images/home/features-bg-near.svg"
        data-_enter_products="transform:translate3d(0,30%,0);"
        data-_enter_products-100p="transform:translate3d(0,3%,0);"
        data-_leave_features--100p="transform:translate3d(0,0%,0);"></div>

    <div class="background img fg fg-lg hidden-xs" data-bg-src="images/home/features-fg-lg.svg"
        data-_enter_products="transform:translate3d(0,50%,0);"
        data-_enter_products-100p="transform:translate3d(0,5%,0);"
        data-_leave_features--100p="transform:translate3d(0,0%,0);">
        <a class="compose-button" href="http://compose.wedfairy.com/?from=homepage"
            data-_enter_products="opacity:0;"
            data-_leave_products-100p="opacity:1;">
            <span>创作故事</span>
        </a>
    </div>

    <div class="background img fg fg-sm visible-xs" data-bg-src="images/home/features-fg-mobile.svg"
        data-_enter_products="transform:translate3d(0,50%,0);"
        data-_enter_products-100p="transform:translate3d(0,5%,0);"
        data-_leave_features--100p="transform:translate3d(0,0%,0);">
        <a class="compose-button" href="http://compose.wedfairy.com/?from=homepage"
            data-_enter_products="opacity:0;"
            data-_leave_products-100p="opacity:1;">
            <span>创作故事</span>
        </a>
    </div>
    
    <div class="iphone img img-contain" data-bg-src="images/home/iphone.svg"
        data-_enter_products="transform:translate3d(0,40%,0);opacity:0;"
        data-_enter_features="transform:translate3d(0,0%,0);opacity:1;"
        data-_enter_features-400p="transform:translate3d(0,0%,0);opacity:1;"
        data-_enter_features-500p="transform:translate3d(0,0%,0);opacity:0;">
        
        <div class="iphone-inner">
            <div class="cube"
                data-_enter_features="opacity: 1;transform:translate3d(0,0px,0);"
                data-_enter_features-50p="opacity: 1;transform:translate3d(0,-50px,0);"
                data-_enter_features-100p="opacity: 0;transform:translate3d(0,-100px,0);">
                <div class="img"></div>
                <h4>1. 自主创作</h4>
                <p>按照八音盒建议的故事线索上传图文，DIY自己的故事。即使缺乏灵感也不用担心，八音盒早已用自己的的方式为你准备了大量的故事原型和文字灵感，让你专注于创作本身。</p>
            </div>
            <div class="cube"
                data-_enter_features-100p="opacity: 0;transform:translate3d(0,100px,0);"
                data-_enter_features-150p="opacity: 1;transform:translate3d(0,0px,0);"
                data-_enter_features-200p="opacity: 0;transform:translate3d(0,-100px,0);">
                <div class="img"></div>
                <h4>2. 精美模板</h4>
                <p>在每个场景下，我们会为你提供风格不同，形式多样的精美模板，让你的故事生动有趣，充满爱意。</p>
            </div>
            <div class="cube"
                data-_enter_features-200p="opacity: 0;transform:translate3d(0,100px,0);"
                data-_enter_features-250p="opacity: 1;transform:translate3d(0,0px,0);"
                data-_enter_features-300p="opacity: 0;transform:translate3d(0,-100px,0);">
                <div class="img"></div>
                <h4>3. 分享故事</h4>
                <p>将你制作的轻故事通过多个平台分享给身边的亲戚朋友。不管他们使用微信、微博和邮箱甚至其他的一些主流应用，只需通过一键分享即可实现。</p>
            </div>
            <div class="cube"
                data-_enter_features-300p="opacity: 0;transform:translate3d(0,100px,0);"
                data-_enter_features-350p="opacity: 1;transform:translate3d(0,0px,0);"
                data-_enter_features-400p="opacity: 0;transform:translate3d(0,-100px,0);">
                <div class="img"></div>
                <h4>4. 实时互动</h4>
                <p>随时查看亲朋好友们的留言，与不同渠道送上赞与祝福的人们进行实时互动。</p>
            </div>
        </div>
    </div>
    
    <div class="gallery-wrapper"
        data-_enter_products="transform:scale(0,0);visibility:hidden;"
        data-_enter_features-400p="transform:scale(0,0);visibility:visible;"
        data-_enter_features-490p="transform:scale(1,1);visibility:visible;">
        
        <div class="gallery"></div>

    </div>

</section>
