<section class="view" id="view-features"
    data-_enter_products="transform:translate3d(0,-100%,0);"
    data-_leave_products="transform:translate3d(0,-100%,0);">
    
    <div class="background img bg" data-bg-src="images/home/features-bg.png"
        data-_enter_products="transform:translate3d(0,20%,0);"
        data-_leave_products-100p="transform:translate3d(0,0%,0);"></div>
    
    <div class="background img fg" data-bg-src="images/home/features-fg.png"
        data-_enter_products="transform:translate3d(0,40%,0);"
        data-_leave_products-100p="transform:translate3d(0,0%,0);"></div>
    
    <div class="iphone img img-contain" data-bg-src="images/home/iphone-white.png"
        data-_enter_products="transform:translate3d(0,40%,0);opacity:0;"
        data-_leave_products-100p="transform:translate3d(0,0%,0);opacity:1;">
        
        <div class="iphone-inner">
            <div class="cube"
                data-_enter_features="opacity: 0;"
                data-_enter_features-100p="opacity: 1;"
                data-_enter_features-199p="opacity: 1;"
                data-_enter_features-200p="opacity: 0;">
                <h4>自主创作</h4>
                <p>我们提供自主创作的工具和灵感，你来自己讲述爱的故事，使轻故事不再枯燥乏味</p>
            </div>
            <div class="cube"
                data-_enter_features-200p="opacity: 0;"
                data-_enter_features-201p="opacity: 1;"
                data-_enter_features-299p="opacity: 1;"
                data-_enter_features-300p="opacity: 0;">
                <h4>留言实时互动</h4>
                <p>通过邀请函页面，与通过不同渠道送上祝福的亲朋好友们实时进行互动</p>
            </div>
            <div class="cube"
                data-_enter_features-300p="opacity: 0;"
                data-_enter_features-301p="opacity: 1;"
                data-_enter_features-399p="opacity: 1;"
                data-_enter_features-400p="opacity: 0;">
                <h4>精美模板选择</h4>
                <p>每一个由八音盒精挑细选过的婚礼邀请板都饱含了爱和浪漫</p>
            </div>
            <div class="cube"
                data-_enter_features-400p="opacity: 0;"
                data-_enter_features-401p="opacity: 1;"
                data-_enter_features-499p="opacity: 1;"
                data-_enter_features-500p="opacity: 0;">
                <h4>多平台分享</h4>
                <p>快速将你制作的邀请函通过多个平台分享给亲戚朋友</p>
            </div>
        </div>
    </div>
    
    <div class="story-star"
        data-_enter_products="top:0%;left:65%;"
        data-_enter_features-100p="top:50%;left:65%;"
        data-_enter_features-200p="top:45%;left:64%;"
        data-_enter_features-300p="top:50%;left:62%;"
        data-_enter_features-400p="top:48%;left:60%;"
        data-_enter_features-500p="top:70%;left:50%;">
    </div>
    
</section>
