<footer id="global-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 footer-col text-center">
                <p class="subtitle hidden">八音盒轻故事</p>
                <p><a href="http://blog.wedfairy.com/guan-yu-wo-men/" target="_blank">关于我们</a></p>
                <p><a href="http://blog.wedfairy.com/lian-xi-wo-men/" target="_blank">联系我们</a></p>
                <!--
                <p class="visible-wechat small"><em>请长按邮件地址</em></p>-->
                <!--<p>加入我们</p>
                <p><a class="email" href="mailto:jobs@wedfairy.com" target="_blank">jobs@wedfairy.com</a></p>
                <p>联系我们</p>
                <p><a class="email" href="mailto:contact@wedfairy.com" target="_blank">contact@wedfairy.com</a></p>
                <p>商务合作</p>
                <p><a class="email" href="mailto:business@wedfairy.com" target="_blank">business@wedfairy.com</a></p>
                -->
            </div>
            <div class="col-sm-4 footer-col text-center hidden-xs">
                <p class="subtitle">扫描二维码使用手机制作</p>
                <div class="img qrcode-composer" data-bg-src="images/wedding/qrcode-composer.png"></div>
            </div>
            <div class="col-sm-4 footer-col text-center">
                <p class="subtitle">通过以下方式关注我们</p>
                <p class="social">
                    <a class="social-icon wechat" href="http://mp.weixin.qq.com/s?__biz=MzA5ODM0OTM5Mg==&mid=204170049&idx=1&sn=12f5b3bc532468f31058e0e600a6ae3c#rd" target="_blank">
                        <i class="fa fa-wechat fa-2x"></i>
                    </a>
                    <a class="social-icon hidden-xs" href="http://weibo.com/u/5224024448/" target="_blank">
                        <i class="fa fa-weibo fa-2x"></i>
                    </a>
                    <a class="social-icon visible-xs-inline-block" href="http://m.weibo.cn/u/5224024448/" target="_blank">
                        <i class="fa fa-weibo fa-2x"></i>
                    </a>
                    <a class="social-icon hidden" href="http://instagram.com/wedfairy/" target="_blank">
                        <i class="fa fa-instagram fa-2x"></i>
                    </a>
                    <a class="social-icon" href="http://blog.wedfairy.com/" target="_blank">
                        <i class="fa fa-rss fa-2x"></i>
                    </a>
                </p>
            </div>
        </div>
        <p class="copyright text-center">
            <span class="font-wide">MADE WITH LOVE</span>
            <span>©八音盒</span>
            <span class="font-wide">2015</span>
        </p>
    </div>
</footer>
