<section class="view" id="view-hero"
    data-0="transform:translate3d(0,0%,0);"
    data-_enter_products="transform:translate3d(0,-30%,0);"
    data-_leave_hero="transform:translate3d(0,-100%,0);">
    
    <div class="img img-contain container logo-text" data-bg-src="images/home/logo-text.png"></div> 
    
    <header class="text-center">
        <h1>八音盒轻故事</h1>
        <h4>我们在创造一种爱的语言，让你和这个世界聊天</h4>
    </header>
    
    <div class="text-center">
        <div class="btn btn-bg btn-primary">开始制作</div>
        <div class="btn btn-bg btn-success">先了解一下</div>
    </div>
    
    <div class="laputa img img-contain" data-bg-src="images/home/laputa.png"></div>
    
    <div class="story-star"
        data-0="top:10%;left:70%;"
        data-_enter_products="top:70%;left:65%;">
    </div>
    
</section>
