<section class="view" id="view-hero"
    data-0="transform:translate3d(0,0%,0);"
    data-_enter_products="transform:translate3d(0,-50%,0);"
    data-_leave_hero="transform:translate3d(0,-100%,0);">
    
    <div class="background img" data-bg-src="images/wedding/hero-bg.jpg"></div>
    
</section>
