<section class="view img" id="view-hero" data-bg-src="images/cover.jpg">
    <header class="text-center">
        <h1>八音盒轻故事</h1>
        <p class="slogan">我们在创造一种爱的语言，让你和这个世界聊天</p>
        <a class="btn compose-button" href="http://compose.wedfairy.com/?from=homepagehero">开始制作</a>
        <div class="text-center hidden">
            <div class="btn btn-bg btn-primary compose-btn">创作故事</div>
        </div>


    </header>
    <div class="img hill-image" data-bg-src="images/hill.png"></div>

</section>
