<section class="view" id="view-hero"
    data-0="transform:translate3d(0,0%,0);"
    data-_enter_products="transform:translate3d(0,-100%,0);"
    data-_enter_products-1p="transform:translate3d(0,-100%,0);">
    
    <div class="fairy-air-wrapper hidden-xs">
        <div class="img fairy-air" data-bg-src="images/home/fairies.svg"></div>
    </div>

    <div class="fairy-earth-wrapper hidden-xs">
        <div class="img fairy-earth" data-bg-src="images/home/fairy-earth.svg"></div>
    </div>

    <div class="img logo-text" data-bg-src="images/home/logo-text.svg"
        data-0="opacity:1;"
        data-80="opacity:0;"></div>
    
    <div class="story-star hidden-xs"
        data-0="top:10%;left:70%;transform:scale(0,0);"
        data-10p="top:12%;left:70%;transform:scale(1,1);"
        data-_enter_products="top:120%;left:65%;transform:scale(1,1);"></div>
    
    <header class="text-center"
        data-0="transform:translate3d(0,0%,0);"
        data-_enter_products="transform:translate3d(0,-200%,0);">
        <h1>八音盒轻故事</h1>
        <p class="slogan">我们在创造一种爱的语言，让你和这个世界聊天</p>
        <a class="btn compose-button" href="http://compose.wedfairy.com/dashboard/?from=homepage">开始制作</a>
        <div class="text-center hidden">
            <div class="btn btn-bg btn-primary">开始制作</div>
            <div class="btn btn-bg btn-success">先了解一下</div>
        </div>
        <div class="img img-contain fairy-fire hidden-xs" data-bg-src="images/home/fairy-fire.svg"></div>
    </header>
    
    <div class="laputa-wrapper"
        data-0="transform:translate3d(0,0%,0);"
        data-_enter_products="transform:translate3d(0,0%,0);">
        <div class="laputa img img-contain" data-bg-src="images/home/laputa.svg"></div>
        <div class="clouds img img-contain" data-bg-src="images/home/clouds.svg"></div>
    </div>
    
    <div class="scroll-down hidden-xs" data-0="opacity:1;" data-100p="opacity:0;">向下滚动</div>

</section>
