<section class="view" id="view-products"
    data-0="transform:translate3d(0,0%,0);"
    data-_enter_products="transform:translate3d(0,-100%,0);opacity:1;"
    data-_leave_products="transform:translate3d(0,-200%,0);opacity:1;">
    
    <div class="background img noise" data-bg-src="images/home/img-noise-200x200.png"></div>
    <header class="text-center">
        <h1>选择适合的场景</h1>
        <h3>我们在创造一种爱的语言，让你和这个世界聊天</h3>
    </header>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4 product">
                <div class="img"></div>
                <h4>婚礼邀请函</h4>
                <p>婚礼邀请函的介绍文字写在这里</p>
            </div>
            <div class="col-sm-4 product">
                <div class="img"></div>
                <h4>婚礼邀请函</h4>
                <p>婚礼邀请函的介绍文字写在这里</p>
            </div>
            <div class="col-sm-4 product">
                <div class="img"></div>
                <h4>婚礼邀请函</h4>
                <p>婚礼邀请函的介绍文字写在这里</p>
            </div>
            <div class="col-sm-4 product">
                <div class="img"></div>
                <h4>婚礼邀请函</h4>
                <p>婚礼邀请函的介绍文字写在这里</p>
            </div>
            <div class="col-sm-4 product">
                <div class="img"></div>
                <h4>婚礼邀请函</h4>
                <p>婚礼邀请函的介绍文字写在这里</p>
            </div>
            <div class="col-sm-4 product">
                <div class="img"></div>
                <h4>婚礼邀请函</h4>
                <p>婚礼邀请函的介绍文字写在这里</p>
            </div>
        </div>
    </div>
    
</section>
