<section class="view" id="view-products"
    data-0="transform:translate3d(0,0px,0);"
    data-_enter_products="transform:translate3d(0,-100%,0);"
    data-_leave_products="transform:translate3d(0,-200%,0);">
    
    
    <header class="text-center">
        <h3>选择合适的场景</h3>
    </header>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4 col-xs-6 product">
                <a class="img" href="/wedding/?from=homepage" target="_blank">
                    <div class="sprite sprite-wed"></div>
                </a>
                <h4>婚礼邀请函</h4>
            </div>
            <div class="col-sm-4 col-xs-6 product">
                <a class="img">
                    <div class="sprite sprite-personal"></div>
                </a>
                <h4>个人故事</h4>
            </div>
            <div class="col-sm-4 col-xs-6 product">
                <a class="img">
                    <div class="sprite sprite-pet"></div>
                </a>
                <h4>宠物情缘</h4>
            </div>
            <div class="col-sm-4 col-xs-6 product">
                <a class="img">
                    <div class="sprite sprite-travel"></div>
                </a>
                <h4>旅游日记</h4>
            </div>
            <div class="col-sm-4 col-xs-6 product">
                <a class="img">
                    <div class="sprite sprite-baby"></div>
                </a>
                <h4>亲子故事</h4>
            </div>
            <div class="col-sm-4 col-xs-6 product">
                <a class="img">
                    <div class="sprite sprite-friend"></div>
                </a>
                <h4>闺蜜故事</h4>
            </div>
        </div>
    </div>
    
</section>
