<section class="view" id="view-products"
    data-0="transform:translate3d(0,0%,0);"
    data-_enter_products="transform:translate3d(0,-100%,0);"
    data-_leave_products="transform:translate3d(0,-200%,0);">
    
    <div class="background img noise hidden" data-bg-src="images/home/img-noise-200x200.png"></div>
    
    <header class="text-center">
        <h3>选择适合的场景</h3>
        <p></p>
    </header>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4 col-xs-6 product">
                <div class="img"></div>
                <h4>爱人</h4>
                <p>一个会讲故事的婚礼邀请函</p>
            </div>
            <div class="col-sm-4 col-xs-6 product">
                <div class="img"></div>
                <h4>自己</h4>
                <p>婚礼邀请函的介绍文字写在这里</p>
            </div>
            <div class="col-sm-4 col-xs-6 product">
                <div class="img"></div>
                <h4>宠物</h4>
                <p>婚礼邀请函的介绍文字写在这里</p>
            </div>
            <div class="col-sm-4 col-xs-6 product">
                <div class="img"></div>
                <h4>孩子</h4>
                <p>婚礼邀请函的介绍文字写在这里</p>
            </div>
            <div class="col-sm-4 col-xs-6 product">
                <div class="img"></div>
                <h4>朋友</h4>
                <p>婚礼邀请函的介绍文字写在这里</p>
            </div>
            <div class="col-sm-4 col-xs-6 product">
                <div class="img"></div>
                <h4>旅行</h4>
                <p>婚礼邀请函的介绍文字写在这里</p>
            </div>
        </div>
    </div>
    
</section>
