<section class="view" id="view-products"
    data-0="transform:translate3d(0,0px,0);"
    data-_enter_products="transform:translate3d(0,-100%,0);"
    data-_leave_products="transform:translate3d(0,-200%,0);">
    
    <div class="background img noise hidden" data-bg-src="images/home/img-noise-200x200.png"></div>
    
    <header class="text-center">
        <h3>使用八音盒你可以自己制作各种故事</h3>
        <p>总有一些瞬间，你想说，让别人听到</p>
    </header>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4 col-xs-6 product">
                <a class="img img-wed" href="/wedding/?from=homepage" target="_blank"></a>
                <h4>婚礼请帖</h4>
                <p>献给爱人，定格美好的瞬间，这一刻，你们就是主角</p>
            </div>
            
            
            <div class="col-sm-4 col-xs-6 product">
                <a class="img img-friendship" href="/explore#friendship" target="_blank"></a>
                <h4>友情故事</h4>
                <p>无论是闺蜜或基友，他们都小心翼翼的点缀过你的生活</p>
            </div>
            
            <div class="col-sm-4 col-xs-6 product">
                <a class="img img-lover" href="/explore#lover" target="_blank"></a>
                <h4>情感故事</h4>
                <p>呼啸而过的是青春，却带不走你和TA最真挚的爱情故事</p>
            </div>
            <div class="col-sm-4 col-xs-6 product">
                <a class="img img-idol" href="/explore#idol" target="_blank"></a>
                <h4>偶像故事</h4>
                <p>他们光鲜的背后，会甜蜜，有辛酸，也会有我们的默默守护</p>
            </div>
            <div class="col-sm-4 col-xs-6 product">
                <a class="img img-travel" href="/explore#travel" target="_blank"></a>
                <h4>旅行故事</h4>
                <p>带着好奇心去旅行，通过你的眼睛，我们看到全世界</p>
            </div>
            <div class="col-sm-4 col-xs-6 product">
                <a class="img img-personal" href="javascript:void(0)" target="_blank"></a>
                <h4>其他故事</h4>
                <p>正在紧锣密鼓地开发中，敬请期待...</p>
            </div>
            <!-- <div class="col-sm-4 col-xs-6 product">
                <div class="img"></div>
                <h4>宝贝故事</h4>
                <p>献给孩子，从天使降临的第一天起，生活中就充满故事</p>
            </div> -->
            <!-- <div class="col-sm-4 col-xs-6 product">
                <div class="img"></div>
                <h4>宠物故事</h4>
                <p>宠物不是你的一生，你却是他一辈子最疼爱的主人</p>
            </div> -->
        </div>
    </div>
    
</section>