#global-navbar {
    margin-bottom: 0;
    border-bottom: 0;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    @include transform(translate3d(0, 0, 0));
    @include transition(top .35s ease-in-out);
    &.rollup {
        top: -60px;
    }
    a {
        color: $text-color;
        &:hover, &:focus {
            color: $brand-primary;
        }
    }
    .navbar-brand {
        background: url(#{$static-url}images/logo.png) no-repeat left;
        background-size: 50px 50px;
        margin-left: 15px;
        padding-left: 65px;
        height: 60px;
        line-height: 30px;
    }
    .navbar-nav > li > a {
        line-height: 30px;
        text-align: center;
    }
    .navbar-toggle {
        margin-top: 13px;
        margin-bottom: 13px;
    }
    .navbar-toggle .icon-bar {
        background-color: $text-color;
    }
}
