#global-navbar {
    margin-bottom: 0;
    border-bottom: 0;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    @include transform(translate3d(0, 0, 0));
    @include transition(top .35s ease-in-out);
    &.rollup {
        top: -60px;
    }
    a {
        color: $text-color;
        &:hover, &:focus {
            color: $brand-primary;
        }
    }
    .navbar-brand {
        padding-top: 5px;
        padding-bottom: 5px;
        .img, .text {
            display: inline-block;
            vertical-align: middle;
            height: 40px;
        }
        .img {
            width: 40px;
        }
        .text {
            margin-left: 10px;
            line-height: 40px;
        }
    }
    .navbar-toggle .icon-bar {
        background-color: $text-color;
    }
}
