#global-navbar {
    margin-bottom: 0;
    border-bottom: 0;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    @include transition(top .35s ease-in-out);
    &.rollup {
        top: -50px;
    }
    a {
        color: $text-color;
        &:hover, &:focus {
            color: $brand-primary;
        }
    }
    .navbar-brand {
        background: url(#{$static-url}images/logo.png) no-repeat left;
        background-size: 40px 40px;
        padding-left: 55px;
    }
    .navbar-toggle .icon-bar {
        background-color: $text-color;
    }
}
