
#view-portfolio-fixed {
    @media (max-width: $screen-xs-max) {
        .iphone-mockup, .ipad-mockup, .macbook-mockup {
            border-radius: 10px;
        }
    }
    .fixed-wrapper {
        overflow: hidden;
        z-index: 9997;
        @include position(fixed, 0 0 0 0);
        @include transform(translate3d(0,100%,0));
        @include clearfix();
    }
    .device-screens {
        float: left;
        width: 60%;
        height: 100%;
        position: relative;
        .screen {
            position: relative;
            > .img {
                @include position(absolute, 0 0 0 0);
            }
        }
    }
    .description {
        float: left;
        width: 40%;
        height: 100%;
        position: relative;
        h4 {
            display: inline-block;
            margin-top: 0;
            position: relative;
            &::after {
                content: "";
                @include position(absolute, auto 1em -0.3em 1em);
                height: 1px;
                background-color: $brand-primary;
            }
        }
        h4 + p {
            font-size: 1.2em;
            @media (max-width: $screen-xs-max) {
                font-size: 0.9em;
            }
            font-family: $font-family-quote;
            line-height: 1.4;
            margin: 1.5em auto;
            color: $gray;
            &::before, &::after {
                content: "\"";
                line-height: 1;
                display: inline-block;
                padding: 0 0.1em;
            }
            &::before { content: "“"; }
            &::after { content: "”"; }
        }
    }
    article {
        //max-width: 360px;
        //width: 50%;
        width: 260px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -150px;
        //@include transform(translate3d(0, -50%, 0));
    }
    .ipad-mockup {
        position: absolute;
        right: 35%;
        width: 40%;
        top: 50%;
        margin-top: -33%;
    }
    .iphone-mockup {
        position: absolute;
        right: 15%;
        width: 24%;
        top: 50%;
        margin-top: -18%;
    }
    @media (max-width: $screen-xs-max) {
        .description, .device-screens {
            float: none;
            width: 100%;
            height: auto;
        }
        .device-screens {
            z-index: 1;
            height: 50%;
        }
        .description {
            z-index: 0;
            height: 50%;
            //overflow: hidden;
        }
        article {
            width: 100%;
            max-width: none;
            padding: 15px 7%;
        }
        .ipad-mockup {
            width: 45%;
            right: 48%;
        }
        .iphone-mockup {
            width: 28%;
            right: 25%;
        }
    }
}
