
$oldtimes-green: #70b997;

$image-path: "#{$static-url}themes/oldtimes/images/";
$font-path: "#{$static-url}themes/oldtimes/fonts/";

@include font-face(thirsty, '#{$font-path}thirstyroughlightone-latin-webfont');
@include font-face(veneer, '#{$font-path}veneer-latin-webfont');

.view[data-theme=oldtimes] {
    > header {
        > h1 {
            font-family: thirsty, $font-family-sans-serif;
        }
    }
}

@import "styles/hero";
@import "styles/couple";
@import "styles/timeline";
@import "styles/bigday";
@import "styles/map";
@import "styles/information";
@import "styles/gallery";
@import "styles/wish";
