<section class="view img" id="view-contact" data-bg-src="images/homepage/clients-bottom.png">
    <header>
        <h2 class="text-center">联系我们</h2>
    </header>
    
    <div class="container">
    <div class="row">
    <div class="col-sm-6 contact-form">
        <p class="text-center">经过漫长的等待，<em>八音盒</em>终于开放内测</p>
        <p class="text-center">请在下方留下你的联系方式</p>
        <p class="text-center">和所有幸福的人，一起来谱写爱的旋律</p>
        <form>
            <div class="form-group">
                <label>我的联系方式是</label>
                <input type="text" name="sender" class="form-control" placeholder="手机或邮箱"></textarea>
            </div>
            <div class="form-group">
                <label>我想讲一个（选填）</label>
                <textarea name="content" class="form-control" rows="3" placeholder="怎样的爱情故事"></textarea>
            </div>
            <div class="form-group">
                <label>我希望它由</label>
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-lg active"><input type="radio" name="purpose" value="【DIY】" checked>自己DIY</label>
                    <label class="btn btn-lg"><input type="radio" name="purpose" value="【定制】">八音盒定制</label>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-lg btn-send" type="submit">
                    <i class="fa fa-envelope-o"></i> 发送
                    <i class="fa fa-refresh fa-spin hidden"></i>
                </button>
                <p class="help-block"></p>
            </div>
        </form>
    </div><!-- end .col-sm-6 -->
    <div class="col-sm-6 contact-social">
        <div class="contact-item contact-wechat">
            <a href="http://mp.weixin.qq.com/s?__biz=MzA3MjcwOTUxNQ==&mid=200729342&idx=1&sn=6fb565ac4530b6768b1aa0a6120020ff#rd">
                <p class="text-center">
                    <i class="fa fa-wechat fa-2x"></i>
                </p>
                <h4 class="text-center">lepetitamour</h4>
            </a>
        </div>
        <div class="contact-item contact-weibo">
            <a href="http://m.weibo.cn/u/5224024448">
                <p class="text-center">
                    <i class="fa fa-weibo fa-2x"></i>
                </p>
                <h4 class="text-center">@盒子里的小爱情</h4>
            </a>
        </div>
        <div class="contact-item contact-email">
            <a href="mailto:contact@wedfairy.com">
                <p class="text-center">
                    <i class="fa fa-envelope-o fa-2x"></i>
                </p>
                <h4 class="text-center">contact@wedfairy.com</h4>
            </a>
        </div>
        <p class="text-center">我们在创造一种<em>爱</em>的语言</p>
        <p class="text-center">让你和这个世界聊天</p>
        <h4 class="text-center">从今天起</h4>
        <p class="text-center">成为一个<em>爱的谱写者</em></p>
        <p class="text-center">用你的<em>故事</em>来影响身边每一个人</p>
    </div>
    </div>
    </div>
    
    <footer class="fixed">
        <h4 class="font-wide text-center">SITE MADE WITH LOVE</h4>
        <!--<h4 class="font-wide text-center visible-xs">SITE MADE WITH LOVE</h4>
        <h3 class="font-wide text-center hidden-xs">SITE MADE WITH LOVE</h3>-->
    </footer>
</section>
