<section class="view" id="view-features">
    <header class="text-center">
        <h1>八音盒功能</h1>
        <h4>为什么要选择八音盒来制作婚礼邀请函</h4>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3">
                <div class="feature text-right animated fadeInLeft" data-feature="1">
                    <div class="icon">
                        <i class="fa fa-fw fa-pencil fa-2x"></i>
                    </div>
                    <h5><strong>DIY自主创作</strong></h5>
                    <p>我们提供给您自主创作的工具和灵感，您来自己讲述爱的故事，使婚礼邀请函不再枯燥乏味</p>
                </div>
                <div class="feature text-right animated fadeInLeft" data-feature="2">
                    <span class="icon">
                        <i class="fa fa-fw fa-comments fa-2x"></i>
                    </span>
                    <h5><strong>精美模板选择</strong></h5>
                    <p>每一个由八音盒精挑细选过的婚礼邀请板都饱含了爱和浪漫</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
                <div class="iphone-wrapper animated fadeInUp">
                    <div class="img" data-bg-src="images/homepage/features2.png"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="feature text-left animated fadeInRight" data-feature="3">
                    <div class="icon">
                        <i class="fa fa-fw fa-mobile fa-2x"></i>
                    </div>
                    <h5><strong>留言实时互动</strong></h5>
                    <p>通过邀请函页面，与通过不同渠道送上祝福的亲朋好友们实时进行互动</p>
                </div>
                <div class="feature text-left animated fadeInRight" data-feature="4">
                    <div class="icon">
                        <i class="fa fa-fw fa-share-alt fa-2x"></i>
                    </div>
                    <h5><strong>多平台分享</strong></h5>
                    <p>快速将您制作的邀请函通过多个平台分享给亲戚朋友</p>
                </div>
            </div>
        </div>
    </div>
</section>
