<footer id="global-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 footer-col">
                <h4 class="subtitle">八音盒婚礼邀请函</h4>
                <p>联系我们: <a class="email" href="mailto:contact@wedfairy.com" target="_blank">contact@wedfairy.com</a></p>
                <p>商务合作: <a class="email" href="mailto:business@wedfairy.com" target="_blank">business@wedfairy.com</a></p>
                <p>加入我们: <a class="email" href="mailto:jobs@wedfairy.com" target="_blank">jobs@wedfairy.com</a></p>
            </div>
            <div class="col-sm-4 footer-col text-center hidden-xs">
                <div class="img qrcode-composer" data-bg-src="images/homepage/qrcode-composer.png"></div>
                <h4>扫描<span class="text-primary">二维码</span>开始制作</h4>
            </div>
            <div class="col-sm-4 footer-col visible-xs">
                <a href="http://compose.wedfairy.com/" target="_blank" class="btn btn-lg btn-primary">　　开始制作　　</a>
            </div>
            <div class="col-sm-4 footer-col text-right">
                <h4 class="subtitle">通过以下渠道关注我们</h4>
                <p class="social">
                    <a class="social-icon wechat" href="http://mp.weixin.qq.com/s?__biz=MzAxNzAzODIwMg==&mid=200503630&idx=1&sn=1d1d41af06c68eb2a737ce92c1884fbe#rd" target="_blank">
                        <i class="fa fa-wechat fa-2x"></i>
                    </a>
                    <a class="social-icon hidden-xs" href="http://weibo.com/u/5224024448/" target="_blank">
                        <i class="fa fa-weibo fa-2x"></i>
                    </a>
                    <a class="social-icon visible-xs-inline-block" href="http://m.weibo.cn/u/5224024448/" target="_blank">
                        <i class="fa fa-weibo fa-2x"></i>
                    </a>
                    <a class="social-icon" href="http://instagram.com/wedfairy/" target="_blank">
                        <i class="fa fa-instagram fa-2x"></i>
                    </a>
                </p>
            </div>
        </div>
        <p class="copyright text-center">
            <span class="font-wide">MADE WITH LOVE</span>
            <span class="text-primary">©八音盒</span>
            <span class="font-wide">2014</span>
        </p>
    </div>
</footer>
