<footer id="global-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 footer-col">
                <h4 class="subtitle">八音盒婚礼邀请函</h4>
                <p>联系我们: contact@wedfairy.com</p>
                <p>商务合作: business@wedfairy.com</p>
                <p>加入我们: jobs@wedfairy.com</p>
            </div>
            <div class="col-sm-4 footer-col text-center hidden-xs">
                <div class="img qrcode-composer" data-bg-src="images/homepage/qrcode-composer.png"></div>
                <h4>扫描<span class="text-primary">二维码</span>开始制作</h4>
            </div>
            <div class="col-sm-4 footer-col visible-xs">
                <a href="http://compose.wedfairy.com/" class="btn btn-lg btn-primary">　　开始制作　　</a>
            </div>
            <div class="col-sm-4 footer-col text-right">
                <h4 class="subtitle">通过以下渠道关注我们</h4>
                <p class="social">
                    <a class="social-icon">
                        <i class="fa fa-weibo fa-2x"></i>
                    </a>
                    <a class="social-icon">
                        <i class="fa fa-wechat fa-2x"></i>
                    </a>
                    <a class="social-icon">
                        <i class="fa fa-instagram fa-2x"></i>
                    </a>
                </p>
            </div>
        </div>
        <p class="copyright text-center">
            <span class="font-wide">MADE WITH LOVE</span>
            <span class="text-primary">©八音盒</span>
            <small>2014</small>
        </p>
    </div>
</footer>
