
<footer id="global-footer" class="text-center">
    <div class="background img" data-bg-src="images/homepage/footer-bg.jpg"></div>
    <div class="ready-to-compose">
        <p>手机扫描二维码开始制作</p>
        <div class="qrcode">
            <div class="img" data-bg-src="images/homepage/qrcode-composer.png"></div>
        </div>
    </div>
    <div class="social">
        <a class="social-icon wechat" href="http://mp.weixin.qq.com/s?__biz=MzAxNzAzODIwMg==&mid=200503630&idx=1&sn=1d1d41af06c68eb2a737ce92c1884fbe#rd" target="_blank">
            <i class="fa fa-wechat"></i>
        </a>
        <a class="social-icon hidden-xs" href="http://weibo.com/u/5224024448/" target="_blank">
            <i class="fa fa-weibo"></i>
        </a>
        <a class="social-icon visible-xs-inline-block" href="http://m.weibo.cn/u/5224024448/" target="_blank">
            <i class="fa fa-weibo"></i>
        </a>
        <a class="social-icon" href="http://blog.wedfairy.com/" target="_blank">
            <i class="fa fa-rss"></i>
        </a>
    </div>
    <div class="links">
        <a href="/about/joinus">联系我们</a>
        <a href="/about/joinus">加入我们</a>
        <a href="/about">关于我们</a>
        <a href="/about/law">法律声明</a>
        <a href="/about/faq"><span class="hidden-xs">　　</span>帮助</a>
    </div>
    <div class="end">
        <span class="copyright">&copy;八音盒 2015</span>
        <span class="made-with-love">SITE MADE WITH LOVE</span>
    </div>
</footer>
