
<section class="view" id="view-gallery">
    <header class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>更多场景即将推出</h3>
                <h4>敬请期待</h4>
            </div>
            <div class="col-sm-offset-1 col-sm-7 text-right">
                <p>作为手机端最 <span class="in">in</span> 的DIY故事生成器，八音盒内置各种超人气的唯美主题，百组创意爆棚的灵感文字，逗趣友爱的实时交互。结婚请柬，爱情，友谊，旅行，偶像，征婚等模板任你选，即将上线的新模板也在筹备中，总有一个是你想写的故事</p>
            </div>
        </div>
    </header>
    <div class="gallery container clearfix">
        <div class="gallery-left pull-left">
            <div class="col">
                <div class="item" style="height:50%;">
                    <div class="img" data-bg-src="images/homepage/more/baby.jpg"></div>
                    <div class="text-hover"><div class="text">
                        <h5>宝贝的故事</h5>
                        <p>宝贝的故事哦，<br>我看看哦<br>哈哈</p>
                    </div></div>
                </div>
                <div class="item" style="height:50%;">
                    <div class="img" data-bg-src="images/homepage/more/groceries.jpg"></div>
                    <div class="text-hover"><div class="text">
                        <h5>宝贝的故事</h5>
                        <p>宝贝的故事哦，<br>我看看哦<br>哈哈</p>
                    </div></div>
                </div>
            </div>
            <div class="col clearfix">
                <div class="item" style="height:60%;">
                    <div class="img" data-bg-src="images/homepage/more/lover.jpg"></div>
                    <div class="text-hover"><div class="text">
                        <h5>宝贝的故事</h5>
                        <p>宝贝的故事哦，<br>我看看哦<br>哈哈</p>
                    </div></div>
                </div>
                <div class="item pull-left" style="height:40%;width:45%;">
                    <div class="img" data-bg-src="images/homepage/more/age.jpg"></div>
                    <div class="text-hover"><div class="text">
                        <h5>宝贝的故事</h5>
                        <p>宝贝的故事哦，<br>我看看哦<br>哈哈</p>
                    </div></div>
                </div>
                <div class="item pull-left" style="height:40%;width:55%;">
                    <div class="img" data-bg-src="images/homepage/more/taobao.jpg"></div>
                    <div class="text-hover"><div class="text">
                        <h5>宝贝的故事</h5>
                        <p>宝贝的故事哦，<br>我看看哦<br>哈哈</p>
                    </div></div>
                </div>
            </div>
            <div class="col">
                <div class="item" style="height:40%;">
                    <div class="img" data-bg-src="images/homepage/more/entrepreneur.jpg"></div>
                    <div class="text-hover"><div class="text">
                        <h5>宝贝的故事</h5>
                        <p>宝贝的故事哦，<br>我看看哦<br>哈哈</p>
                    </div></div>
                </div>
                <div class="item" style="height:60%;">
                    <div class="img" data-bg-src="images/homepage/more/food.jpg"></div>
                    <div class="text-hover"><div class="text">
                        <h5>宝贝的故事</h5>
                        <p>宝贝的故事哦，<br>我看看哦<br>哈哈</p>
                    </div></div>
                </div>
            </div>
        </div>
        <div class="gallery-right pull-right">
            <div class="col">
                <div class="item" style="height:25%;">
                    <div class="img" data-bg-src="images/homepage/more/birthday.jpg"></div>
                    <div class="text-hover"><div class="text">
                        <h5>宝贝的故事</h5>
                        <p>宝贝的故事哦，<br>我看看哦<br>哈哈</p>
                    </div></div>
                </div>
                <div class="item" style="height:30%;">
                    <div class="img" data-bg-src="images/homepage/more/news.jpg"></div>
                    <div class="text-hover"><div class="text">
                        <h5>宝贝的故事</h5>
                        <p>宝贝的故事哦，<br>我看看哦<br>哈哈</p>
                    </div></div>
                </div>
                <div class="item" style="height:45%;">
                    <div class="img" data-bg-src="images/homepage/more/pets.jpg"></div>
                    <div class="text-hover"><div class="text">
                        <h5>宝贝的故事</h5>
                        <p>宝贝的故事哦，<br>我看看哦<br>哈哈</p>
                    </div></div>
                </div>
            </div>
            <div class="col">
                <div class="item" style="height:40%;">
                    <div class="img" data-bg-src="images/homepage/more/graduation.jpg"></div>
                    <div class="text-hover"><div class="text">
                        <h5>宝贝的故事</h5>
                        <p>宝贝的故事哦，<br>我看看哦<br>哈哈</p>
                    </div></div>
                </div>
                <div class="item" style="height:60%;">
                    <div class="img" data-bg-src="images/homepage/more/rent.jpg"></div>
                    <div class="text-hover"><div class="text">
                        <h5>宝贝的故事</h5>
                        <p>宝贝的故事哦，<br>我看看哦<br>哈哈</p>
                    </div></div>
                </div>
            </div>
            <div class="col">
                <div class="item" style="height:50%;">
                    <div class="img" data-bg-src="images/homepage/more/afternoontea.jpg"></div>
                    <div class="text-hover"><div class="text">
                        <h5>宝贝的故事</h5>
                        <p>宝贝的故事哦，<br>我看看哦<br>哈哈</p>
                    </div></div>
                </div>
                <div class="item" style="height:50%;">
                    <div class="img" data-bg-src="images/homepage/more/makeup.jpg"></div>
                    <div class="text-hover"><div class="text">
                        <h5>宝贝的故事</h5>
                        <p>宝贝的故事哦，<br>我看看哦<br>哈哈</p>
                    </div></div>
                </div>
            </div>
        </div>
    </div>
</section>
