
<header id="global-header">
    <div class="logo-brand hidden-xs">
        <i class="iconfont icon-logo"></i>
    </div>
    <div class="logo-brand logo-brand-small visible-xs"
        data-anchor-target="#view-prologue"
        data-100-top-bottom="opacity:1;visibility:visible;"
        data-1-top-bottom="opacity:0;visibility:visible;"
        data-top-bottom="opacity:0;visibility:hidden;">
        <i class="iconfont icon-logo"></i>
    </div>
    <nav class="text-center hidden-xs"
        data-anchor-target="#view-hero"
        data-0="opacity:1;visibility:visible;"
        data--80-top-top="opacity:0;visibility:visible;"
        data--81-top-top="opacity:0;visibility:hidden;">
        <a href="/about" target="_blank">关于我们</a>
        <a href="/explore" target="_blank">社区首页</a>
        <a href="/about/guide" target="_blank">产品帮助</a>
        <a href="http://blog.wedfairy.com/" target="_blank">官方博客</a>
    </nav>
    <a class="btn compose-button"
        data-anchor-target="#view-portfolio"
        data-0="opacity:0;visibility:hidden;"
        data-100-top-top="opacity:0;visibility:visible;"
        data-top-top="opacity:1;visibility:visible;"
        data-200-top-bottom="opacity:1;visibility:visible;"
        data-100-top-bottom="opacity:0;visibility:hidden;"
        href="http://site.wedfairy.com/?from=homepagehero">开始制作</a>
</header>
