
<header id="global-header">
    <div class="logo-brand hidden-xs">
        <i class="iconfont icon-logo"></i>
    </div>
    <nav class="text-center hidden-xs"
        data-anchor-target="#view-hero"
        data-0="opacity:1;visibility:visible;"
        data--80-top-top="opacity:0;visibility:visible;"
        data--81-top-top="opacity:0;visibility:hidden;">
        <a href="#view-portfolio">场景</a>
        <a href="#view-gallery">案例</a>
        <a href="#view-features">功能</a>
        <a href="#global-footer">关注</a>
    </nav>
    <button class="btn compose-button hidden-xs"
        data-anchor-target="#view-portfolio"
        data-0="opacity:0;visibility:hidden;"
        data-100-top-top="opacity:0;visibility:visible;"
        data-top-top="opacity:1;visibility:visible;"
        data-200-top-bottom="opacity:1;visibility:visible;"
        data-100-top-bottom="opacity:0;visibility:hidden;">开始制作</button>
</header>
