<section class="view" id="view-hero">
    <div class="background img hidden-xs" data-bg-src="images/homepage/hero-bg-h.png"></div>
    <div class="background img visible-xs" data-bg-src="images/homepage/hero-bg-v.png"></div>
    <div class="logo img" data-bg-src="images/logo.png"></div>
    <article>
        <p class="text-center">我们用<mark>独特</mark>的方式为坠入爱河的你</p>
        <p class="text-center">用你最喜欢的照片和文字</p>
        <p class="text-center">讲出自己的<mark>爱情故事</mark></p>
        <a class="btn btn-block" href="#view-hero-footer">
            <i class="fa fa-angle-double-down"></i>
        </a>
    </article>
    <footer class="fixed container" id="view-hero-footer">
        <p><mark>八音盒&copy;</mark>目前正处于测试阶段</p>
        <p>通过它你可以制作<mark>婚礼邀请函</mark>和<mark>纪念日礼物</mark></p>
        <p>请下拉了解我们，并免费试用产品，更多功能和场景敬请期待</p>
    </footer>
</section>
