<section class="view" id="view-hero">
    <header class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">
                    <span class="img" data-bg-src="images/logo-red.png"></span>
                    <span class="text">八音盒</span>
                </a>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#view-hero">主页</a>
                    </li>
                    <li><a href="#view-workflow">流程</a></li>
                    <li><a href="#view-features">功能</a></li>
                    <li><a href="#view-howto">DIY</a></li>
                    <li><a href="#view-gallery">案例</a></li>
                    <li><a href="#global-footer">关注</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1 class="text-center">八音盒帮您创造独一无二的婚礼邀请函</h1>
        <h4 class="text-center">让全世界一起送上祝福</h4>
        <p class="text-center">
            <a class="btn btn-primary btn-lg" href="#view-workflow">了解详情</a>
        </p>
    </div>
</section>
