<section class="view" id="view-hero">
    <div class="container">
        <h1 class="text-center">八音盒帮您创造独一无二的婚礼邀请函</h1>
        <h4 class="text-center">让全世界一起送上祝福</h4>
        <p class="text-center">
            <a class="btn btn-primary btn-lg" href="#view-workflow">了解详情</a>
        </p>
    </div>
</section>
