
<section class="view window-height" id="view-hero">
    <div class="container-fluid">
        <div class="brand-slogan"
            data-anchor-target="#view-hero"
            data-top-top="opacity:1;"
            data-top-center="opacity:0;">
            <div class="slogan-text">
                <div class="img img-contain brand-name hidden-xs"
                    data-bg-src="images/homepage/hero-brand-name.png">
                    <h1>八音盒</h1><h2>轻故事</h2>
                </div>
                <div class="img img-contain brand-name visible-xs"
                    data-bg-src="images/homepage/hero-brand-name-small.png"></div>
                <p>手机端最<span class="in">in</span>的故事生成器</p>
                <!--<h5>我们在创造一种爱的语言，让你和这个世界聊天</h5>-->
                <!--<h5>爱情 · 友情 · 个人 · 宝贝 · 旅行 · 其他</h5>-->
                <p class="small">创建属于你的故事，限时免费</p>
                <div class="links">
                    <a class="btn btn-primary compose-button"
                        href="/create/?from=homepagehero">开始制作</a>
                    <a class="learn-more" href="#view-prologue">了解更多</a>
                </div>
            </div>
        </div>
        <div class="device-screens"
            data-anchor-target="#view-hero"
            data-top-top="transform:translate3d(0,0%,0);"
            data-top-bottom="transform:translate3d(0,-100%,0);">
            <div class="macbook-mockup"
                data-anchor-target="#view-hero"
                data-top-top="transform:translate3d(0,0%,0);"
                data-top-bottom="transform:translate3d(0,-20%,0);">
                <div class="top"></div>
                <div class="screen">
                    <div class="img" data-bg-src="images/homepage/hero/mac-1.jpg"></div>
                    <div class="img hidden-xs" 
                        data-50="opacity:0;"
                        data-51="opacity:1;"
                        data-bg-src="images/homepage/hero/mac-2.jpg"></div>
                </div>
                <div class="bottom"></div>
            </div>
            <div class="iphone-mockup">
                <div class="top"></div>
                <div class="screen">
                    <div class="img" data-bg-src="images/homepage/hero/iphone-1.jpg"></div>
                    <div class="img hidden-xs" 
                        data-50="opacity:0;"
                        data-51="opacity:1;"
                        data-bg-src="images/homepage/hero/iphone-3.jpg"></div>
                </div>
                <div class="bottom"></div>
            </div>
            <div class="ipad-mockup"
                data-anchor-target="#view-hero"
                data-top-top="transform:translate3d(0,0%,0);"
                data-top-bottom="transform:translate3d(0,-100%,0);">
                <div class="top"></div>
                <div class="screen">
                    <div class="img" data-bg-src="images/homepage/hero/ipad-3.jpg"></div>
                    <div class="img hidden-xs" 
                        data-50="opacity:0;"
                        data-51="opacity:1;"
                        data-bg-src="images/homepage/hero/ipad-4.jpg"></div>
                </div>
                <div class="bottom"></div>
            </div>
        </div>
    </div>
</section>
