<section class="view img" id="view-hero" data-bg-src="images/homepage/hero-bg-h.png">
    <div class="logo img" data-bg-src="images/logo.png"></div>
    <footer class="fixed">
        <h4 class="text-center">还剩<em>5</em>天</h4>
        <button class="btn btn-lg btn-block">开始谱写自己的爱情故事</button>
    </footer>
</section>
