<section class="view" id="view-howto">
    <header class="text-center">
        <h1>如何DIY</h1>
        <p>八音盒为将婚礼邀请函拆分为以下多个故事模块，并在每个故事模块中帮您预设了大量的创意性文字；您只需要按照提示放入您的灵感和素材，剩下的事情都由八音盒为您完成</p>
    </header>
</section>
