<section class="view" id="view-howto">
    <header class="text-center">
        <h1>如何DIY</h1>
        <p>八音盒为将婚礼邀请函拆分为以下多个故事模块，并在每个故事模块中帮您预设了大量的创意性文字；您只需要按照提示放入您的灵感和素材，剩下的事情都由八音盒为您完成</p>
    </header>
    <div class="container">
        <div class="slider-wrapper">
            <div class="slider-item">
                <div class="img" data-bg-src="images/homepage/outline-hero.jpg"></div>
                <div class="abbr text-center">婚礼开场白</div>
                <div class="caption text-center">
                    <h2>婚礼开场白</h2>
                    <p>用简短的话语介绍制作此邀请函的目的</p>
                </div>
            </div>
            <div class="slider-item">
                <div class="img" data-bg-src="images/homepage/outline-couple.jpg"></div>
                <div class="abbr text-center">新郎和新娘</div>
                <div class="caption text-center">
                    <h2>新郎和新娘</h2>
                    <p>详细介绍新郎新娘</p>
                </div>
            </div>
            <div class="slider-item">
                <div class="img" data-bg-src="images/homepage/outline-timeline.jpg"></div>
                <div class="abbr text-center">我们的故事</div>
                <div class="caption text-center">
                    <h2>我们的故事</h2>
                    <p>两人相识到走到今天的一些最重要的时刻</p>
                </div>
            </div>
            <div class="slider-item standout">
                <div class="img" data-bg-src="images/homepage/outline-bigday.jpg"></div>
                <div class="abbr text-center">大婚之日</div>
                <div class="caption text-center">
                    <h2>大婚之日</h2>
                    <p>相爱故事的高潮，表现男女主人公在即将走入婚姻殿堂之前的幸福</p>
                </div>
            </div>
            <div class="slider-item">
                <div class="img" data-bg-src="images/homepage/outline-information.jpg"></div>
                <div class="abbr text-center">婚礼当天</div>
                <div class="caption text-center">
                    <h2>婚礼当天</h2>
                    <p>用平时或者幽默的风格，列举到婚礼现场的方法或者描述婚礼当天的流程</p>
                </div>
            </div>
            <div class="slider-item">
                <div class="img" data-bg-src="images/homepage/outline-map.jpg"></div>
                <div class="abbr text-center">地图</div>
                <div class="caption text-center">
                    <h2>地图</h2>
                    <p>婚礼举行当天的详细地址</p>
                </div>
            </div>
            <div class="slider-item">
                <div class="img" data-bg-src="images/homepage/outline-wish.jpg"></div>
                <div class="abbr text-center">祝福我们</div>
                <div class="caption text-center">
                    <h2>祝福我们</h2>
                    <p>收集亲朋好友对于男女主人公的祝福</p>
                </div>
            </div>
        </div>
    </div>
</section>
