
<section class="view" id="view-prologue">
    <article>
        <!--<h3 class="title text-center">创建属于你自己的故事</h3>-->
        <h3 class="title text-center">我们在创造一种爱的语言，让你和这个世界聊天</h3>
        <div class="title2">
            <p>我们在创造一种爱的语言</p>
            <p class="text-right">让你和这个世界聊天</p>
        </div>
        <p>从明天起做一个写故事的人，感念亲情记录爱情珍藏友情；从明天起不再在意自己的文笔，顺随于内心。在灵感文字中寻找真实，在不同主题中感受细腻。那些幸福我将告诉每一个人：每一个你不知道到该如何描述的场景，都会在八音盒有一个妥帖的位置安放。</p>
    </article>
</section>
