<section class="view" id="view-workflow">
    <header class="text-center">
        <h1>八音盒玩法</h1>
        <h4>如何制作八音盒婚礼邀请并收到祝福</h4>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 animated fadeInUp">
                <div class="step text-center">
                    <div class="img" data-bg-src="images/homepage/icon-imac.png"></div>
                    <h3 class="icon-title">灵感</h3>
                    <p class="desc">跟你的爱人一起回忆你们的爱情故事，或者观看八音盒案列，获取制作灵感</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animated fadeInUp">
                <div class="step text-center">
                    <div class="img" data-bg-src="images/homepage/icon-pencil-ruler.png"></div>
                    <h3 class="icon-title">制作</h3>
                    <p class="desc">跟随八音盒制作帮助，添加您的婚礼详情，生成独一无二的婚礼邀请函</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animated fadeInUp">
                <div class="step text-center">
                    <div class="img" data-bg-src="images/homepage/icon-umbrella.png"></div>
                    <h3 class="icon-title">分享</h3>
                    <p class="desc">在多个平台快速分享给你的亲戚朋友们，甚至是被你们爱情故事打动的陌生人</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animated fadeInUp">
                <div class="step text-center">
                    <div class="img" data-bg-src="images/homepage/icon-chat.png"></div>
                    <h3 class="icon-title">互动</h3>
                    <p class="desc">第一时间收到大家的祝福，实时跟大家互动分享你们的快乐</p>
                </div>
            </div>
        </div>
    </div>
    <div class="img banner" data-bg-src="images/homepage/workflow-banner.jpg">
        <div class="container">
            <div class="row hidden-xs">
                <div class="col-md-2 col-sm-3">
                    <div class="img qrcode-composer" data-bg-src="images/homepage/qrcode-composer.png"></div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <button class="btn btn-lg btn-primary">开始制作</button>
                    <p>扫描左侧二维码开始制作</p>
                </div>
                <div class="col-md-6 col-sm-5">
                    <h4 class="text-right">快速注册并使用八音盒，马上生成精美的婚礼邀请函</h4>
                </div>
            </div>
            <div class="text-center visible-xs">
                <button class="btn btn-lg btn-primary">　　开始制作　　</button>
            </div>
        </div>
    </div>
</section>
