[data-theme="tianmimi"] .img {
    background-image: image-url("themes/theme-tianmimi-1.jpg");
}
[data-theme="tianmimi[cyan]"] .img {
    background-image: image-url("themes/theme-tianmimi-2.jpg");
}
[data-theme="tianmimi[light]"] .img {
    background-image: image-url("themes/theme-tianmimi-3.jpg");
}
[data-theme="tianmimi[lightspecial]"] .img {
    background-image: image-url("themes/theme-tianmimi-4.jpg");
}
[data-theme="eternity"] .img {
    background-image: image-url("themes/theme-eternity-1.jpg");
}
[data-theme="eternity[fresh]"] .img {
    background-image: image-url("themes/theme-eternity-2.jpg");
}
[data-theme="winter"] .img {
    background-image: image-url("themes/theme-winter-1.jpg");
}
[data-theme="winter[warm]"] .img {
    background-image: image-url("themes/theme-winter-2.jpg");
}
[data-theme="goldlife"] .img {
    background-image: image-url("themes/theme-goldlife.jpg");
}
[data-theme="printemps"] .img {
    background-image: image-url("themes/theme-printemps.png");
}
[data-theme="oldtimes"] .img {
    background-image: image-url("themes/theme-oldtimes.png");
}
[data-theme="ladypink"] .img {
    background-image: image-url("themes/theme-ladypink.png");
}
[data-theme="aki"] .img {
    background-image: image-url("themes/theme-aki.png");
}
[data-theme="balloons"] .img {
    background-image: image-url("themes/theme-balloons.png");
}
[data-theme=""] .img {
    background-image: image-url("themes/theme-default.png");
}
[data-theme="ginkgo"] .img {
    background-image: image-url("themes/theme-ginkgo.png");
}
