// custom variable

$background-color:         #F0F0EF;
$main-color:               #DE8134;
$title-color:              #656666;
$label-color:              #656666;
$navbar-bg-color:          #656666;
$light-text-color:         #8F8F8E;
$border-color:             #C8C6C4;
$content-bg-color:         #FBFBFB;

$music-text:               #8E8E8D;
$inspiration-text:         #8E8E8D;
$footer-color:             #C4C3C3;





//== Colors
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

$brand-primary:         #fe5858 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


//== Scaffolding
$text-color:            $gray !default;


//== Typography
$font-family-sans-serif:  "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

$font-family-base:        $font-family-sans-serif !default;
$headings-font-family:    $font-family-sans-serif !default;


//-- Iconography
$icon-font-path: "../fonts/bootstrap/" !default;


//== Components
//$border-radius-base:        0 !default;
//$border-radius-large:       0 !default;
//$border-radius-small:       0 !default;


//== Type
$headings-small-color:      inherit !default;


//===========================================================================================
@import "bootstrap/bootstrap/variables";
//===========================================================================================
