@import "bourbon/bourbon";
@import "variables";
@import "explore/explore-basic";
@import "explore/explore-nav";
@import "explore/explore-slider";
@import "explore/explore-ranking-container";

.five-stories {
    padding-left: 6px;
    padding-right: 6px;
}

.story-wedding-container, .story-baby-container, .story-voyage-container {
    padding: 0 9px;
}
.story-container {
    .story-item {
        margin-bottom: 20px;
    }
}

.story-voyage-container {
    margin-bottom: 100px;
}

//new media query
@media screen and (min-width: $giant-screen-width) {
    .container {
        width: 1570px;
    }
    .story-shower {
        .story-cover {
            padding-top: 90%;
        }
    }
    .ranking-story-item {
        .story-title {
            .story-info {
                width: 80%;
            }
        }
    }
    .affix {
        position: fixed;
        top: 25px;
        max-width: 362.5px;
    }
    .affix-bottom {
        position: absolute;
        max-width: 362.5px;
    }
    .five-stories {
        &:first-child {
            width: 50%;
            .story-cover {
                padding-top: 564px;
            }
            .story-info {
                padding: 10%;
                padding-top: 80%;
                @include background(linear-gradient(transparent 70%, rgba(#000,0.9) 100%));
            }
            .story-title {
                text-align: left;
                color: white;
                font-size: 1.5em;
            }
            .story-desc {
                display: block;
                color: white;
            }
        }
        &:nth-child(n+2) {
            .story-title {
                color: transparent;
            }
            &:hover {
                .story-info {
                    padding-top: 58%;
                    background: rgba(0, 0, 0, 0.4);
                }
                .story-title {
                    color: white;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: $giant-screen-width-1) {
    .container {
        width: 1170px;
    }
    .story-shower {
        .story-cover {
            padding-top: 90%;
        }
    }

    .affix {
        position: fixed;
        top: 25px;
        max-width: 262.5px;
    }
    .affix-bottom {
        position: absolute;
        max-width: 262.5px;
    }
    .five-stories {
        &:first-child {
            width: 50%;
            .story-cover {
                padding-top: 429px;
                .story-info {
                    padding: 10%;
                    padding-top: 75%;
                    @include background(linear-gradient(transparent 70%, rgba(#000,0.9) 100%));
                }
                .story-title {
                    text-align: left;
                    color: white;
                    font-size: 1.2em;
                }
                .story-desc {
                    display: block;
                    color: white;
                }
            }
        }
        &:nth-child(n+2) {
            .story-title {
                color: transparent;
            }
            &:hover {
                .story-info {
                    padding-top: 58%;
                    background: rgba(0, 0, 0, 0.4);
                }
                .story-title {
                    color: white;
                }
            }
        }
    }
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
    .story-shower {
        .story-cover {
            padding-top: 90%;
        }
    }
    .affix {
        position: fixed;
        top: 25px;
        max-width: 180px;
    }
    .affix-bottom {
        position: absolute;
        max-width: 180px;
    }
}

@media screen and (max-width: 960px){
    .story-shower {
        .story-cover {
            padding-top: 90%;
        }
    }
}

@media (max-width: 375px) {
    .filter-container, .filter, .nav-pills {
        width: 100%;
    }
    .filter-nav .nav-pills>li {
        width: 25%;
        text-align: center;
        margin: 0;
        padding: 0;
        a {
            padding: 9px 0;
            margin: 0;
        }
        .btn {
            border: 0;
        }
    }
}
