
@import "bourbon/bourbon";
@import "variables";


body {
    background-color: #f0f0f0;
}

//new media query
@media (min-width: $giant-screen-width) {
    .container {
        width: 1570px;
    }
    .affix {
        position: fixed;
        top: 25px;
        max-width: 262.5px;
    }
    .affix-bottom {
        position: absolute;
        max-width: 262.5px;
    }
}

@media screen and (min-width: 1200px) and (max-width: $giant-screen-width-1) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 375px) {
    .filter-container, .filter, .nav-pills {
        // padding: 0;
        // margin: 0;
        width: 100%;
    }
    .filter-nav .nav-pills>li {
        width: 20%;
        text-align: center;
        margin: 0;
        padding: 0;
        // margin: 0;
        a {
            padding: 9px 0;
            margin: 0;
            // padding: 9px 7px;
            // padding-left: 15px;
        }
        .btn {
            border: 0;
        }
    }
}

.loading{
    margin-bottom: 30px;
    .icon-loading{
        display: inline-block;
        margin-right: 6px;
        @include transform-origin(51% 47%);
    }
}

.filter-nav {
    background-color: #323a45;
}

.filter-container {
    width: 100%;
    display: inline-block;

    .filter {
        border-radius: 1px;
        display: inline-block;
        cursor: pointer;
        a {
            color: #949eb3;
            &:active {
                color: #b9c0d3;
            }
            &:hover {
                color: $brand-primary;
            }
        }
        a:hover, a:visited, a:focus {
            background-color:transparent;
        }
        .btn-group {
            .btn {
                padding: 9px 12px;
                background-color: transparent;
                color: #949eb3;
            }
            .dropdown-menu {
                min-width: 100px;
                a {
                    padding: 3px 12px;
                    // color: #949eb3;
                }
            }
        }
        li {
            margin-right: 10px;
            display: inline-block;
        }
    }

    .search-box {
        // border: 1px dashed red;
        display: none;
        background-color: white;
        border-radius: 4px;
        padding: 0;
        margin-right: 30px;
        margin-top: 20px;
        width: 350px;
        overflow: hidden;
        button {
            background-color: transparent;
            line-height: 100%;
            border:0;
            display: inline-block;
            .fa {
                font-weight: lighter;
                line-height: 1.428em;
            }
        }
        input {
            border: 0;
            width: 316px;
            height: 100%;
            display: inline-block;
        }
    }
}

.slider {
    margin-top: 50px;
}

#wed-carousel {
    height: 360px;
    margin-top: 5px;
    // margin-bottom: 20px;
    @media (max-width: 400px) {
        .item:nth-child(1) .slide-img{
            background-image: url("/assets/images/slide/0s.jpg") !important;
        }
        .item:nth-child(2) .slide-img{
            background-image: url("/assets/images/slide/1s.jpg") !important;
        }
        .item:nth-child(3) .slide-img{
            background-image: url("/assets/images/slide/2s.jpg") !important;
        }
    }
    .carousel-control{
        padding-top: 165px;
        width: 7%;
        &:hover {
            opacity: .5;
        }
        .iconfont{
            font-size: 30px;
            &::before{
                color: white;
            }
        }
    }
    .slide-img {
        height: 360px;
        width: 100%;
    }
}

.content-body {
    padding-top:  50px;
    .moreStoried {
        font-size: .6em;
    }
}

#content-title {
    // padding: 0 15px 15px;
    h4 {
        padding-left: 13px;
        border-left: 5px solid $brand-primary;
    }
}

.story-container {
    overflow: hidden;
    height: 100%;
    margin-bottom: 87px;
    .story-item {
        margin-bottom: 33px;
    }
    .story-shower {
        background-color: white;
        border-radius: 0;
        padding-top: 0;
        margin: 0 auto;
        position: relative;
        &:hover {
            box-shadow: 0px 0px 10px #999;
        }
        .story-cover {
            padding-top: 100%;
            position: relative;
            cursor: pointer;
            &:hover {
                .story-info {
                    background: rgba(0, 0, 0, 0.4);
                    .story-title {
                        color: white;
                    }
                }
            }
        }

        .story-info {
            bottom: 0;
            height: 100%;
            width: 100%;
            padding-top: 50%;
            // background-color: white;
            // opacity: 1;
            overflow: hidden;
            position: absolute;             
            @include transition(all .35s);
            cursor: pointer;
            .story-title {
                color: transparent;
                // display: none;
                // font-weight: bold;
                max-height: 4em;
                padding-left: 10px;
                padding-right: 5px;
            }

            .story-desc {
                height: 0;
                padding-top:0;
                padding-left: 10px;
                padding-right: 5px;
                color: $text-color;
                display: none;
            }
        }
        .extra-info {
            padding: 12px;
            .icon-container {
                overflow: hidden;
                span {
                    margin-right: 6px;
                    margin-left: 3px;
                    i.icon-like {
                        &::before {
                            color: $brand-primary;
                        }
                    }
                }
            }
            .iconfont {
                font-size: 17px;
                &::before {
                    color: #BBBBBB;
                }
            }
        }
    }
}

.ranking {
    position: relative;
}

.story-ranking-container {
    max-width: 262.5px;
    overflow: hidden;
    .ranking-story-item{
        padding: 10px 0;
        height: 80px;
        width: 100%;
        border-bottom: 1px dashed lighten($text-color, 50);
        display: block;
    }
    .story-item {
        margin-bottom: 30px;
    }
    .story-shower {
        // background-color: white;
        border-radius: 0;
        padding-top: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        .story-cover {
            padding-top: 60px;
            width: 60px;
            margin-bottom: 2px;
            cursor: pointer;
        }
    }
    .story-info {
        // min-width: 150px;
        width: 60%;
        min-width: 100px;
        height: 100%;
        // overflow: hidden;
        display: inline-block;
        position: relative;
        .story-title {
            position: absolute;
            top: 0;
            word-wrap: break-word; 
        }
        .icon-container {
            width: 100%;
            position: absolute;
            bottom: 0;
            span {
                width: 50%;
            }
        }
        i {
            color: #aaa;
            font-size: 15px;
        }
    }
}

.wedfairy-float {
    margin-top: 25px;
    margin-bottom: 100px;
    padding: 30px;
    background-color: white;
    width: 100%;
    max-width: 262.5px;
    border-radius: 10px;
    .wedfairy-float-bg {
        padding-top: 50%;
        background-position: top;
    }

    img {
        width: 100%;
        height: 50%;
        margin-bottom: 15px;
    }
}

.pagination-btn {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: -365px;
    margin-left: -540px;
    width: 46px;
    height: 45px;

    &.next-btn {
        margin-left: 490px;
    }
    .iconfont::before {
        color: white;
    }
}

.scene-type-icon {
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-top: -4px;

    &::before {
        content: attr(title);
        display: none;
    }
    &:hover::before {
        display: block;
        background: white;
        // border: 1px solid black;
        padding: 8px;
        padding-top: 3px;
        padding-bottom: 2px;
        margin: 25px 0 0 10px;
        border-radius: 4px;
        position: absolute;
    }
}

