@import "bourbon/bourbon";
@import "variables";
@import "explore/explore-basic";
@import "explore/explore-nav";
@import "explore/explore-slider";
@import "explore/explore-ranking-container";

.story-container {
    
    @media (min-width: 421px) {
        .story-item {
            margin-bottom: 33px;
        }
        .story-cover {
            padding-top: 100%;
        }
    }
    @media (max-width: 420px) {
        .story-item {
            margin-bottom: 10px;
        }
    }
}

// .wedfairy-float {
//     margin-top: 65px;
//     // margin-bottom: 30px;
// }
//new media query
@media (min-width: $giant-screen-width) {
    .container {
        width: 1570px;
    }
    .affix {
        position: fixed;
        top: 25px;
        max-width: 262.5px;
    }
    .affix-bottom {
        position: absolute;
        max-width: 262.5px;
    }
}

@media screen and (min-width: 1200px) and (max-width: $giant-screen-width-1) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 375px) {
    .filter-container, .filter, .nav-pills {
        width: 100%;
    }
    .filter-nav .nav-pills>li {
        width: 25%;
        text-align: center;
        margin: 0;
        padding: 0;
        a {
            padding: 9px 0;
            margin: 0;
        }
        .btn {
            border: 0;
        }
    }
}
