@import "bourbon/bourbon";

@import "variables";
@import "page/variables";
@import "bootstrap/bootstrap/mixins";

/******************************************************************************/

@import "page/utils";
@import "page/header";
@import "page/footer";

//new media query
@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }
    .story-shower {
        .story-cover {
            padding-top: 100%;
        }
    }
    .five-stories {
        &:first-child {
            width: 50%;
            .story-shower {
                .story-cover {
                    padding-top: 631.75px;
                }
            }
        }
    }
    .affix {
        position: fixed;
        top: 40px;
        max-width: 362.5px;
    }
    .affix-bottom {
        position: absolute;
        max-width: 362.5px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .container {
        width: 1170px;
    }
    .story-shower {
        .story-cover {
            padding-top: 100%;
        }
    }
    .five-stories {
        &:first-child {
            width: 50%;
            .story-shower {
                .story-cover {
                    padding-top: 481.75px;
                }
            }
        }
    }
    .affix {
        position: fixed;
        top: 40px;
        max-width: 262.5px;
    }
    .affix-bottom {
        position: absolute;
        max-width: 262.5px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
    .story-shower {
        .story-cover {
            padding-top: 100%;
        }
    }
    .affix {
        position: fixed;
        top: 40px;
        max-width: 180px;
    }
    .affix-bottom {
        position: absolute;
        max-width: 180px;
    }
}

@media screen and (max-width: 960px){
    .story-shower {
        .story-cover {
            padding-top: 100%;
        }
    }
}

.btn {
    border-radius: 4px;
}
.btn-default {
    @include button-variant(white, $main-color, $main-color);
}
//
#newexplore, #explore {
    .body {
        margin: 0;
        background-color: #F0F0EF;
    }
    color: $text-color;
    .loading{
        margin-bottom: 30px;
        .icon-loading{
            display: inline-block;
            margin-right: 6px;
            @include transform-origin(51% 47%);
            &::before{
                color: $navbar-bg-color;
            }
        }
    }

    .iconfont {
    color: $brand-primary;
    font-size: 30px;
    }

    .filter-nav {
        background-color: #323a45;
    }
    .filter-container {
        margin-top: 20px;
        // margin-bottom: 10px;
        width: 100%;
        display: inline-block;

        .filter {
            border-radius: 1px;
            display: inline-block;
            @extend .pointer;
            .btn-group {
                .btn {
                    padding: 8px 12px;
                    background-color: transparent;
                }
                .dropdown-menu {
                    min-width: 100px;
                    a {
                        color: $light-text-color;
                    }
                }
            }
            .iconfont::before {
                @include hoverable($label-color);
            };
            li {
                color: lighten(grey, 10);
                margin-right: 10px;
                display: inline-block;
                text-decoration: none;
                &:hover {
                    // border-bottom: 1px solid $brand-primary;
                    a {
                        color: $brand-primary;
                    }
                }
                a {
                    color: white;
                }
                a:hover, a:visited, a:focus {
                background-color:transparent;
                }
            }
        }

        .search-box {
            // border: 1px dashed red;
            display: none;
            background-color: white;
            border-radius: 4px;
            padding: 0;
            margin-right: 30px;
            margin-top: 20px;
            width: 350px;
            overflow: hidden;
            button {
                background-color: transparent;
                line-height: 100%;
                border:0;
                display: inline-block;
                .fa {
                    font-weight: lighter;
                    line-height: 1.428em;
                }
            }
            input {
                border: 0;
                width: 316px;
                height: 100%;
                display: inline-block;
            }
        }
    }

    .slider {
        margin-top: 50px;
    }

    #wed-carousel {
        height: 360px;
        margin-top: 5px;
        // margin-bottom: 20px;
        @media (max-width: 400px) {
            .item:nth-child(1) .slide-img{
                background-image: url("/assets/images/slide/0s.jpg") !important;
            }
            .item:nth-child(2) .slide-img{
                background-image: url("/assets/images/slide/1s.jpg") !important;
            }
            .item:nth-child(3) .slide-img{
                background-image: url("/assets/images/slide/2s.jpg") !important;
            }
        }
        .carousel-control{
            padding-top: 175px;
            .iconfont{
                font-size: 40px;
                &::before{
                    color: white;
                }
            }
        }
        .slide-img {
            height: 360px;
            width: 100%;
        }
    }

    .content-body {
        padding-top:  50px;
        .moreStoried {
            font-size: .6em;
        }
    }
    
    #content-title {
        padding: 15px 0;
        h2 {
            padding-left: 13px;
            border-left: 5px solid $brand-primary;
        }
    }

    .story-ranking-container {
        overflow: hidden;
        .ranking-story-item{
            padding: 10px 0;
            height: 80px;
            width: 100%;
            border-bottom: 1px dashed lighten($text-color, 50);
            display: block;
        }
        .story-item {
            margin-bottom: 30px;
        }
        .story-shower {
            border-radius: 0;
            padding-top: 0;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            overflow: hidden;
            .story-cover {
                padding-top: 60px;
                width: 60px;
                margin-bottom: 2px;
                @extend .pointer;
            }
        }
        .story-info {
            // min-width: 150px;
            width: 60%;
            min-width: 100px;
            height: 100%;
            // overflow: hidden;
            display: inline-block;
            position: relative;
            .story-title {
                position: absolute;
                top: 0;
                word-wrap: break-word; 
            }
            .icon-container {
                width: 100%;
                position: absolute;
                bottom: 0;
                span {
                    width: 50%;
                }
            }
            i {
                color: $light-text-color;
                font-size: 15px;
            }
        }
    }

    #myScrollspy {
        overflow: hidden;
        width: 100%;
    }
    .wedfairy-float {
        margin-top: 25px;
        padding: 30px;
        background-color: white;
        width: 100%;
        border-radius: 10px;
        .wedfairy-float-bg {
            padding-top: 50%;
            background-position: top;
        }

        img {
            width: 100%;
            height: 50%;
            margin-bottom: 15px;
        }
    }

    .five-stories {
        padding-left: 6px;
        padding-right: 6px;
    }

    .story-wedding-container, .story-baby-container, .story-voyage-container {
        padding: 0 9px;
    }
    .story-container {
        overflow: hidden;
        height: 100%;
        .story-item {
            margin-bottom: 33px;
        }
        .story-shower {
            background-color: white;
            border-radius: 0;
            padding-top: 0;
            margin: 0 auto;
            position: relative;
            &:hover {
                box-shadow: 1px 3px 5px #555;
            }
            .story-cover {
                // padding-top: 100%;
                position: relative;
                @extend .pointer;
                &:hover {
                    .story-info {
                        background: rgba(0, 0, 0, 0.4);
                        .story-title {
                            color: white;
                        }
                    }
                }
            }

            .story-info {
                bottom: 0;
                height: 100%;
                width: 100%;
                padding-top: 50%;
                // background-color: white;
                // opacity: 1;
                overflow: hidden;
                position: absolute;             
                @include transition(all .35s);
                @extend .pointer;
                .story-title {
                    color: transparent;
                    // display: none;
                    font-weight: bold;
                    max-height: 4em;
                    padding-left: 10px;
                    padding-right: 5px;
                }

                .story-desc {
                    height: 0;
                    padding-top:0;
                    padding-left: 10px;
                    padding-right: 5px;
                    color: $text-color;
                    display: none;
                }
            }
            .extra-info {
                color: $label-color;
                padding: 12px;
                .icon-container {
                    overflow: hidden;
                    span {
                        margin-right: 6px;
                        margin-left: 3px;
                        i.icon-like {
                            &::before {
                                color: $brand-primary;
                            }
                        }
                    }
                }
                .iconfont {
                    font-size: 17px;
                    &::before {
                        color: #BBBBBB;
                    }
                }
            }
        }
    }
}

.story-voyage-container {
    margin-bottom: 100px;
}

@mixin icon($size, $offsetX, $offsetY) {
    background-image: image-url("home/homepage-icon.svg");
    background-size: ($size * 4) ($size * 2);
    background-repeat: no-repeat;
    width: $size;
    height: $size;
    background-position: (-$size * ($offsetY - 1)) (-$size * ($offsetX - 1));
}
[data-scene-type=friendship] {
    &::before {
        content: '友情故事';
    }
    @include icon(30px, 1, 4);
}
[data-scene-type=wedding] {
    &::before {
        content: '婚礼邀请函';
    }
    @include icon(30px, 2, 4);
}
[data-scene-type=lover] {
    &::before {
        content: '爱人故事';
    }
    @include icon(30px, 1, 1);
}
[data-scene-type*='idol'] {
    &::before {
        content: '偶像故事';
    }
    @include icon(30px, 1, 2);
}
[data-scene-type=yearbook] {
    &::before {
        content: '新年书';
    }
    @include icon(30px, 2, 3);
}
[data-scene-type=voyage] {
    &::before {
        content: '旅游故事';
    }
    @include icon(30px, 2, 2);
}

body {
    background-color: $background-color;
    min-width: 300px;
    // padding: 0 30px;
}
a {
    // color: $main-color;
    color: $text-color;
    text-decoration: none !important;

    &:active {
        color: darken($text-color, 10);
        text-decoration: none;
    };
    &:hover, &:focus, &:visited {
        // background-color: transparent;
        text-decoration: none;
    };
}
.alert-tip {
    display: none;
    z-index: 100000;
    width: 620px;
    border-radius: 0px !important;
    padding-top: 5px;
    padding-bottom: 2px;
    position: absolute;
    left: 50%;
    margin-left: -365px;
    // background-color: $content-bg-color;
    // color: black;
    // border-color: darken($content-bg-color, 10);

    button.close {
        font-size: 14px;
    }
}
.black-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9998;
}
div[contenteditable=true] {
    border: 1px solid rgba($border-color, .5);
    padding: 10px;
    color: $label-color;
    font-size: 13px;
    line-height: 1.7em;
    background-color: white;
    border-radius: 4px;

    &:focus {
        @include box-shadow(none);
        border-color: $main-color;
        outline: none;
    }
}
.wysihtml5-toolbar {
    position: absolute;

    .btn-default {
        padding: 2px 7px;
        border-radius: 4px !important;
        background-color: #E9E7E7;
        border: none;
        color: rgba(black, .5);
        font-size: 10px;
        @include hoverable-bg(#E9E7E7);

        &:first-child {
            margin-right: 5px;
        }
    }
}

[data-wysihtml5-command=underline] {
    display: none;
}
input[type=tel], input[type=url], input[type=text], input[type=email], input[type=search], input[type=number], input[type=password], input[type=date], input[type=time], input[type=datetime-local], textarea {
    height: 40px;

    &.form-control {
        border-radius: 4px;
        -webkit-appearance: none;
        font-size: 13px;
        background-color: white;
        resize: none;
        color: $label-color;
        line-height: 1.7em;
        @include box-shadow(none);
    }
    &.form-control:focus {
        @include box-shadow(none);
        border-color: $main-color;
    }
    @include placeholder {
        color: $light-text-color;
    }
}
.control-label {
    color: $label-color;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 22px;
    font-style: normal;
    color: $main-color;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    @include hoverable($main-color);
}
.icon-huanyipi:before {
    content: "\e606";
}

.header {
    // margin-top: 0;
    background-color: #323a45;
    padding-top: 10px;
    padding-bottom: 15px;
    overflow: hidden;
}

.navbar{
    background-color: $navbar-bg-color;
    border-radius: 0px;
    height: 32px;
    min-height: 32px;
    margin-top: 10px;
    margin-bottom: 0px;

    .nav-wrapper {
        width: 960px;
        min-width: 960px;
        margin: 0 auto;
    }
    .nav-item {
        &:first-child {
            // margin-left: 50px;
        }
        &.active, &:hover {
            background-color: #899092;
        }
        height: inherit;
        padding: 6px 15px;
        color: white;
        display: inline-block;
        padding-top: 7px;
        margin-top: -1px;
    }
}
// for timepicker
.icon-chevron-up {
    @extend .iconfont;
    @include transform(rotate(270deg));
    display: block;

    &:before {
        content: "\e605";
    }
}
.icon-chevron-down {
    @extend .iconfont;
    @include transform(rotate(90deg));
    display: block;

    &:before {
        content: "\e605";
    }
}
.datepicker-days .day.active, .datepicker-months .month.active {
    background-color: $main-color !important;
    background-image: none !important;
}
[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-ph);
    color: lighten(grey, 10);
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
    width: 10px; /* 1px wider than Lion. */

    /* This is more usable for users trying to click it. */
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb {

    /* This is the EXACT color of Mac OS scrollbars. 
       Yes, I pulled out digital color meter */
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: 10px; /*Prevent it from getting too small */
    height: 30px;
}
::-webkit-scrollbar:horizontal, ::-webkit-scrollbar-thumb:horizontal {
    min-height: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.61); /* Some darker color when you click it */
    -webkit-border-radius: 100px;
}