@import "bourbon/bourbon";

@import "variables";
@import "page/variables";

/******************************************************************************/

@import "home/layouts";
@import "home/hero";
@import "home/products";

@import "page/utils";
@import "page/footer";
@import "page/header";
@import "sprite/spritestyle";

.footer{
    z-index: 0;
    bottom:0;
    left:0;
    width:100%;
    overflow: hidden;
    padding-top: 20px;
}
