@import "bourbon/bourbon";

@import "variables";

@import "wedding/fonts";

$body-fixed-width: 800px;

body {
    background: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
}

.schema-list {
    margin-top: 20px;
}

.schema-item {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
}

.story-item {
    font-size: 0.8em;
    .cover {
        padding-top: 100%;
        margin-bottom: 10px;
        cursor: pointer;
        position: relative;
    }
    .theme-image {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 40px;
        height: 40px;
        box-shadow: 0 0 0 1px #fff;
    }
    .title {
        height: 3em;
        overflow: hidden;
    }
    .fa-check-circle {
        //cursor: pointer;
    }
    margin-bottom: 15px;
}

.menu {
    margin-bottom: 50px;
}
