
@import "bourbon/bourbon";
@import "variables";


$body-fixed-width: 800px;

body {
    background: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
}

.menu {
    margin-bottom: 50px;
    .form-search {
        margin: 20px auto;
    }
    .tag-list {
        margin-top: 20px;
    }
}

.story-item {
    font-size: 0.8em;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(#000, 0.1);
    .cover {
        padding-top: 100%;
        margin-bottom: 10px;
        cursor: pointer;
        position: relative;
    }
    .theme-image {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 40px;
        height: 40px;
        box-shadow: 0 0 0 1px #fff;
    }
    .title {
        @include ellipsis();
    }
    .tags {
        cursor: pointer;
        height: 3em;
        overflow: hidden;
    }
    .tag {
        display: inline-block;
        padding: 0 0.2em;
        font-weight: bold;
    }
}

#tags-modal {
    .tag-list {
        margin-top: 20px;
        .btn {
            margin: 5px;
        }
    }
}
