
@import "bourbon/bourbon";
@import "variables";


body {
    background: image-url("ranking/ranking-bg.jpg") repeat;
    background-size: 160px 160px;
    color: #fff;
}

body > header {
    padding-top: 36%;
    background: image-url("ranking/ranking-banner-mobile.jpg");
    background-size: cover;
    position: relative;
    box-shadow: 0 3px 3px rgba(#000, 0.7);
    .title {
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
    .logo-text {
        position: absolute;
        top: 10px;
        left: 20px;
    }
    // .filter {
    //     position: absolute;
    //     left: 20px;
    //     bottom: 10px;
    //     margin-bottom: 10px;

    //     .selectpicker {
    //         border: 0;
    //         background: $brand-primary;
    //     }
    // }
    .filter-container {
            // padding-bottom: 15px;
            // border-bottom: 1px solid rgba($border-color, .5);
            // max-width: 960px;
            // max-width: 960px;
            // margin: 0 auto;

            .filter {
                // color: $label-color;
                color: white;
                border-radius: 3px;
                // padding: 20px;
                // padding-bottom: 8px;
                // padding-top: 11px;
                left: 10px;
                position: absolute;
                bottom: 10px;
                background: #f68181;
                display: inline-block;
                // margin-left: 12px;
                @extend .pointer;
                box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);

                .iconfont::before {
                    @include hoverable($label-color);
                }
            }
            .selected-scene {
                width: 102.5px;
                // padding-left: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
                .text {
                    display: inline-block;
                }
                .sanjiao {
                    overflow: hidden;
                    position: absolute;
                    right: 7px;
                    top: 16px;
                    display: inline-block;
                    height: 8px;
                    // line-height: 8px;
                }
                .sanjiao-icon {
                    border-width: 8px;
                    width: 0px;
                    height: 0px;
                    border: 8px solid transparent;
                    border-top: 8px solid white;
                    /* transform: rotate(-180deg); */
                    /* margin-left: 45px; */
                    background: transparent;    
                }
            }
            .filter-menu {
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                margin-top: 1px;
                display: none;
                position: absolute;
                width: 102.5px;
                background-color: white;
                z-index: 10;
                margin-left: 0px;
                padding-bottom: 10px;
                padding-top: 9px;

                a {
                    display: inline-block;
                    font-size: 12px;
                    padding: 6px 10px;
                    padding-top: 7px;
                    width: inherit;
                    color: $light-text-color;
                    @include hoverable-bg(white);

                    &.active {
                        background-color: darken(white, 10) !important;
                        display: none;
                    }
                }
            }
    }
}


body > footer {
    padding: 20px;
}

.logo, .brand {
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.logo {
    height: 30px;
    width: 30px;
    background-image: image-url("logo.png");
}

.brand {
    height: 18px;
    width: 72px;
    background-image: image-url("brand-name-light.png");
}

#btn-more {
    background: transparent;
    color: #fff;
}

.story-list {
    
}

.story-item {
    padding: 10px;
    margin: 10px;
    background: #f68181;
    color: #fff;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    > .img {
        width: 30%;
        padding-top: 30%;
    }
    > .text {
        width: 70%;
        padding: 5px;
    }
    .desc {
        font-size: 0.8em;
        line-height: 1.2em;
        height: 3.6em;
        overflow: hidden;
    }
    .index {
        position: absolute;
        left: 5px;
        top: 50%;
        margin-top: -10px;
        height: 20px;
        width: 20px;
    }
    .fa {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -15px;
        height: 30px;
        line-height: 30px;
        width: 15px;
        font-size: 30px;
    }
}
