.register-form {
    .text-title {
        margin-bottom: 25px;
    }
    .law-info {
        margin-left: 11px;
    }
    input {
        background-color: white;
    }
    margin: 0 auto;
    width: 220px;

    button.close {
        margin-top: -10px;
        margin-right: -8px;
    }
}