@import 'bourbon/bourbon';

.wedfairy-dashboard {
    background-color: #2E3C54;
    // padding: 50px;
}
#view-chart-wrapper, #story-chart-wrapper, #top-story-table-wrapper {
    padding: 20px 0;
    border-bottom: 1px solid #ebebeb;
    overflow: auto;
    h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }
    .data-category-item {
        padding-bottom: 5px;
        border-bottom: 1px dashed rgba(#fff, 0.2);
    }
}
#view-chart-wrapper, #story-chart-wrapper, #keywords-table-wrapper {
    overflow: hidden;
    & > .charts-wrapper {
        background-color: #fff;
    }
}
#view-chart-wrapper {
    border-bottom: 1px solid #fff;
}
.checkbox-wrapper {
    margin: 10px 0 30px;
    padding-left: 10px;
    .checkbox-inline {
        margin: 5px;
    }
}
.radio-wrapper {
    margin: 10px 0 30px;
    padding-left: 10px;
    .radio-inline {
        margin: 5px;
    }
}
.datepicker {
    margin-bottom: 20px;
}
.controller-label {
    font-size: 20px;
    color: #fff;
}

.controllers-wrapper {
    color: #fff;
    display: inline-block;
    width: 20%;
    float: left;
    height: 100%;
    #first-datepicker, #second-datepicker {
        width: 100%;
        margin: 30px auto;
    }
}
.input-group-addon {
    background-color: #FF3265;
}
.submit-wrapper {
    padding-right: 50px;
}
.data-label {
    text-align: center;
}
.charts-wrapper {
    display: inline-block;
    width: 80%;
    padding: 40px;
    float: left;
}

.canvas-wraper {
    overflow: hidden;
    width: 80%;
    float: left;
    display: inline-block;

}
.show-legend {
    float: left;
    width: 20%;
    display: inline-block;
    li {
        margin-bottom: 5px !important;
    }
}
.radio-inline, .checkbox-inline {
    font-size: 10px;
    margin: 1px !important;
}
.radio-inline+.radio-inline,
.checkbox-inline+.checkbox-inline {
    margin: 1px !important;
}

.wedfairy-charts {
    overflow: hidden;
    .show-legend {
        ul {
            list-style: none;
        }
        ul li {
            // display: inline-block;
            padding-left: 30px;
            position: relative;
            margin: 0 10px;
        }

        li span {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            border-radius: 5px;
        }
    }
}

#top-story-table-wrapper {
    .charts-wrapper {
        background-color: #fff;
        @include clearfix;
        .inline-tb {
            width: 33%;
            float: left;
            padding: 5px 30px;
        }
    }
    thead > tr {
        font-weight: bold;
    }
    tbody, tbody > tr {
        width: 100%;
    }
    .table-story-title {
        // width: 50%;
        // overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis;
    }
    td > a {
        text-decoration: underline;
        &:hover {
            color: #f90900;
        }
    }
}