@import "my";

// .content-body {
//     padding-bottom: 80px;
// }
#mygallery-upload-area {
    height: 130px;
    border: 1px dashed #dbdbdb;
    border-radius: 3px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 15px;
    .mygallery-upload {
        display: inline-block;
        width: 63px;
        height: 41px;
    }
    .mygallery-upload-text {
        margin-top: 12px;
        color: #5b677a;
    }
    span {
        text-decoration: underline;
        cursor: pointer;
    }
}

.mygallery-container {
    min-height: 500px;
    margin: 50px 0;
    border: 1px solid #dbdbdb;
}

.wrapper {
    padding: 50px 0 10px;
    overflow: hidden;
}
.gallery-wrapper {
    overflow: hidden;
}
.photo-item {
    position: relative;
    margin-bottom: 30px;
}
.gallery-item-delete-btn {
    padding: 4px;
    color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 29px;
    width: 25px;
    overflow: hidden;
    white-space:nowrap;
    border-radius: 2px;
    @include transition(all .3s ease-in-out);

    &:hover {
        background-color: $brand-primary;
        width: 55px;
    }
}
.gallery-shower {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 1px 5px #cdcdcd;
    @include transition(all .2s ease-in-out);
    .delete-mask {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        @include transition(background-color, .25s);
        @include transition-delay(.1s);
    }
    .icon-delete {
        font-size: 18px;
    }
    .sureTodelete {
        font-size: 11px;
        cursor: pointer;
    }
    &:hover {
        .delete-mask {
            background-color: rgba(34,37,68,0.6);
        }
        .gallery-item-delete-btn {
            color: white;
        }
        @include transform(scale(1.04));

    }
}
.gallery-item {
    padding-top: 100%;
    box-shadow: 1px 3px 5px #dfdfdf;
    position: relative;
    
    &:hover {
        .gallery-item-delete-btn {
            display: inline-block;
        }
    }

}

.photo-item .progress {
    position: absolute;
    overflow: hidden;
    height: 16px;
    border-radius: 8px;
    margin: 0;
    background-color: #ebebeb;
    .tip {
        position: absolute;
        width: 100%;
        font-size: 0.8em;
        line-height: 16px;
        color: white;
    }
    .progress-bar {
        position: absolute;
        top: 0;
        height: 16px;
        border-radius: 8px;
        background-color: #67b368;
        box-shadow: 1px 1px 5px #ccc inset;
        // background-color: red;
    }
}

.loading {
    margin-bottom: 70px;
}

#photo-modal {
    height: 90%;
    width: 90%;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    overflow: hidden;
    .close {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 1;
        cursor: pointer;
        
        .icon-x {
            font-size: 20px;
            color: #7D8790;
            font-weight: bold;
            text-shadow: none;
        }
    }
    
    .icon-page {
        position: absolute;
        height: 100%;
        vertical-align: middle;
        top: 48%;
    }
    .page-rev {
        left: 0;

    }
    .page-next {
        right: 0;
    }
    .icon-angle-left {
        color: #666666;
        font-size: 40px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 99999;

        &:hover {
            background-color: rgba(50,58,69,0.7);
            color: $modal-desc;
        }
    }
    .icon-angle-right {
        color: #666666;
        font-size: 40px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 99999;
        &:hover {
            background-color: rgba(50,58,69,0.7);
            color: $modal-desc;
        }
    }
    .photoShow {
        width: auto;
        height: 100%;
        width: 90%;
        margin: 0 auto;
    }

    .img-showing {
        max-height: 100%;
        max-width: 100%;
        height: 100%;
        background-position: center;
    }
    .img-auto {
        background-size: auto;
    }
}


