@import 'accounts';

#view-change-password {
    margin: 0 auto;
    width: 350px;
    input {
        @include form-input;
        @include placeholder {
            color: #a2aabd;
        }
    }
}
