@import 'accounts';

#view-change-password {
    margin: 0 auto;
    width: 350px;
    input {
        @include form-input;
        @include placeholder {
            color: #a2aabd;
        }
    }
    .sure-btn {
        margin-top: 70px;
        padding: 10px;
        width: 100%;
    }
}
