@import 'accounts';

#view-forget-password {
    margin: 0 auto;
    width: 350px;
    input {
        @include form-input;
        @include placeholder {
            color: #a2aabd;
        }
    }
    .step-two {
        position: relative;
    }
    .micro-msg-block {
        position: absolute;
        bottom: 14px;
        right: 0;
    }
    .resend-hint {
        font-size: 12px;
        color: #697489;
    }
    .btn-send-code {
        font-size: 12px;
        color: #f9f9fb;
        line-height: 100%;
        background-color: #7484a4;
        border-radius: 17px;
        padding: 6px 10px;
        // border-radius: 30%;
        &:hover {
            background-color: #657596;
        }
    }
    .btn-disable {
        background-color: #949eb3;
    }
}