@import 'accounts';

#view-forget-password {
    margin: 0 auto;
    width: 350px;
    input {
        @include form-input;
        @include placeholder {
            color: #a2aabd;
        }
    }
    .sure-btn {
        margin-top: 70px;
        padding: 10px;
        width: 100%;
    }
    .step-two {
        position: relative;
    }
    .micro-msg-block {
        position: absolute;
        bottom: 14px;
        right: 0;
    }
    .resend-hint {
        font-size: 12px;
    }
    .btn-send-code {
        font-size: 12px;
        color: #f9f9fb;
        // line-height: 100%;
        background-color: rgba(34,37,68,1);
        border-radius: 17px;
        // border-radius: 30%;
    }
    .btn-disable {
        background-color: $gray;
    }
}