
#view-information[data-theme=default] {
    > .background {
        background-color: $qidlove-violet;
        background-position: center;
        background-size: cover;
    }
    color: #f0f0f0;
    padding-bottom: 50px;
    > .container {
        max-width: $container-sm;
    }
    dl {
        @include clearfix();
        margin-bottom: 10px;
    }
    dt {
        float: left;
        width: 90px;
        text-align: right;
    }
    dd {
        margin-left: 100px;
    }
    .tab-pane {
        padding: 30px 20px;
    }
    .nav {
        font-size: 1.1em;
        > li:first-child { width: 40%; }
        > li:last-child { width: 60%; }
        > li > a {
            background-color: transparent !important;
            color: #fff !important;
        }
    }
}
