@import "../../mixins";

#view-timeline[data-theme=default] {
    background: $qidlove-yellow;
    color: #fff;
    padding-bottom: 20px;
    > .container {
        max-width: $container-md;
    }
    .story-item {
        .text, .img {
            display: inline-block;
            vertical-align: middle;
        }
        .img {
            width: 60%;
            padding-top: 45%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .text {
            color: #fff;
            width: 40%;
            padding: 5px;
            @media (min-width: $screen-sm-min) {
                font-size: 1.3em;
                padding: 20px;
            }
        }
        &.type1 { background: #16A085; }
        &.type2 { background: #34495E; }
        &.type3 { background: #E74C3C; }
        &.type4 { background: #9B59B6; }
        &.type5 { background: $qidlove-pink; }
    }
    .btn-next {
        display: block;
        margin-top: 20px auto 0;
        width: 50px;
        cursor: pointer;
        @include transition(all .35s ease-in-out);
        &:hover {
            @include transform(translate3d(0, 10px, 0));
        }
    }
    
    @include path-style-timeline($qidlove-yellow, #fff, $qidlove-blue);
    .timeline-wrapper {
        .post-title {
            font-family: pacifico, $font-family-sans-serif;
            line-height: 2;
        }
        .emphisize {
            font-size: 36px;
        }
    }
}
