@import "../../mixins";

#view-wish[data-theme=default] {
    background: #fff;
    color: $gray;
    > .container {
        max-width: $container-sm;
    }
    .remerciement {
        padding-top: 10px;
        border-top: 1px solid lighten($qidlove-pink, 10%);
        border-bottom: 1px solid lighten($qidlove-pink, 10%);
    }
    .call-for-wishes {
        @media (min-width: $screen-sm-min) {
            margin-top: 35px;
        }
    }
    @include wish-form($qidlove-pink, darken($qidlove-pink, 10%), darken($qidlove-pink, 10%));
}
