<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <title>八音盒 - 联系我们</title>
    <% include about-head %>
</head>
<body>
    
    <% include ../layouts/header %>

    <div class="body container" id="contactus">
        <div class="navbar hidden-sm hidden-xs">
            <a class="nav-item" href="/about">关于我们</a>
            <a class="nav-item" href="/about/team">团队成员</a>
            <a class="nav-item" href="/about/joinus">加入我们</a>
            <a class="nav-item" href="/about/press">媒体报道</a>
            <a class="nav-item active" href="/about/contactus">联系我们</a>
        </div>
        <section>
            <article>
                <h2>联系八音盒</h2>
                <p>我们高度注重产品的质量，所以我们不会想错过每一个对我们产品出发声音的人。无论你是想给我提意见，还是想加入我们的团队，又或者想和我们聊聊合作，这里将开启你和八音盒对话的大门。我们相信，只要有志同道合的朋友在，八音盒就能够做的更好。</p>
            </article>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h3 class="text-left">八音盒地址</h3>
                    <address><p>上海市静安区铜仁路299号SOHO东海广场2楼</p></address>
                    <br />
                    <div>客服邮箱</div>
                    <div>contact@wedfairy.com</div>
                    <div>商务合作</div>
                    <div>business@wedfairy.com</div>
                    <div>招聘邮箱</div>
                    <div>jobs@wedfairy.com</div>
                </div>
                <div class="col-lg-6 col-md-6 img-container">
                    <div class="img img-cover map-img" data-bg-src="images/aboutus/map.jpg">
                        <div class="text-center team-sign"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <% include ../layouts/footer %>

    <% include ../includes/javascripts %>
    
    <% include ../includes/analytics %>

</body>
</html>
