<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <title>八音盒 - 法律声明</title>
    <% include about-head %>
</head>
<body>

    <% include ../layouts/header %>
    <% include navlaw %>

    <div class="container-fluid" id="faq">
        <div class="row grey-bg">
            <div class="col-lg-3 col-md-3"></div>
            <div class="page-title col-lg-6 col-md-6">FAQ</div>
            <div class="col-lg-3 col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-6 col-md-6">
                <pre>
Q：请问音乐怎么上传？
A：“音乐上传”的功能正在开发中，目前我们挑选了部分主流音乐供用户选择，如这些音乐都不能满足你的需求，可以加“八音盒轻故事”的微信公众号，把需要上传的音乐给到小编上传服务器。

Q：请问为什么我上传图片会显示“文件验证失败”？
A： 因为工具会检查图片尺寸和图片类型进行压缩，目前在部分手机上只支持1200像素宽以下的图片。但很多用户上传的是由专业摄像师拍摄的原图，导致上传图片的像素宽过高。所以调整图片像素宽低于1200像素即可。

Q：请问为什么我的图片老是显示在加载中？
A：由于用户当前网络环境不稳定，导致图片还在加载中，也可尝试更换网络。如果尝试三次以上都失败，请加“八音盒轻故事”的微信公众号，把问题反馈给小编，会有专业小编进行解答。

Q：为什么我预览后写的文字没有改过来？
A：请检查预览前是否有保存过，但请注意保存后不能撤销。

Q：请问有 app 吗？
A：正在紧锣密鼓的开发中，如需手机编辑，可以加“八音盒轻故事”的微信公众号，就可以用“微信”快速进行制作。

                </pre>
            </div>
            <div class="col-lg-3 col-md-3"></div>
        </div>
    </div>

    <% include ../layouts/footer %>

    <% include ../includes/javascripts %>

    <% include ../includes/analytics %>

</body>
</html>
