<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <title>八音盒 - 使用说明</title>
    <% include about-head %>
</head>
<body data-spy="scroll" data-target="#myScrollspy">
    
    <% include ../layouts/header %>
    <% include navlaw %>

    <div class="container-fluid" id="guide">
        <div class="row grey-bg">
            <div class="col-lg-3 col-md-3"></div>
            <div class="page-title col-lg-6 col-md-6">使用说明</div>
            <div class="col-lg-3 col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3" id="myScrollspy">
                <ul class="nav nav-tabs nav-stacked sidebar hidden-sm hidden-xs"
                    data-spy="affix" data-offset-top="130" data-offset-bottom="600">
                    <li class="active"><a href="#login-panel"><span>登陆界面</span></a></li>
                    <li><a href="#new-story"><span>新建故事</span></a></li>
                    <li><a href="#story-scene"><span>选择场景</span></a></li>
                    <li><a href="#edit-steps"><span>编辑步骤</span></a></li>
                    <li><a href="#edit-content"><span>编辑内容</span></a></li>
                    <li><a href="#delate-add"><span>删除添加</span></a></li>
                    <li><a href="#sort"><span>调整顺序</span></a></li>
                    <li><a href="#change-theme"><span>主题切换</span></a></li>
                    <li><a href="#select-music"><span>选择音乐</span></a></li>
                    <li><a href="#publish"><span>发布分享</span></a></li>   
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <hr/>
                <h4 class="content-title">使用须知</h4>
                <div id="login-panel">
                    <p>用户可以在PC端和手机端两种主流平台使用八音盒来进行故事制作。</p>
                    <h4 class="content-title">PC端操作方式：</h4>
                    <h5>注册或登录</h5>
                    <div class="img img-contain usage-img" data-bg-src="images/guide/1.jpg"></div>
                    <h5>注册</h5>
                    <p>注册需输入个人手机号码和登录密码并确认;</p>
                    <h5>登录</h5>
                    <p>输入注册过的手机号码和密码点击即可登录;</p>
                </div>
                <div id="new-story">
                    <h4>新建故事</h4>
                    <div class="img img-contain usage-img" data-bg-src="images/guide/2.jpg"></div>
                    <h5>管理故事</h5>
                    <p>在此菜单中可以看到已制作的故事案例，同时可以对制作过的故事进行编辑/查看祝福/预览/删除等操作;</p>
                    <h5>用户管理中心</h5>
                    <p>点击“登出”按钮可以进行重新登陆其他账号的操作，也可以点击“修改密码”重新对该账号密码进行修改;</p>
                    <h5>添加新故事</h5>
                    <p>点击“添加新故事”，创建新故事并进入选择故事场景页面;</p>
                    <p class="tips">提示：圈出管理故事/添加新故事按钮/用户管理中心</p>
                </div>
                <div id="story-scene">
                    <h4>选择故事场景</h4>
                    <div class="img img-contain usage-img" data-bg-src="images/guide/3.jpg"></div>
                    <h5>开始制作</h5>
                    <p>先点击你需要创作的故事场景，然后在左边手机模拟器预览该故事场景的样式，确认后点击“开始制作”按钮进入故事编辑页面。</p>
                    <p class="tips">提示：圈出婚礼板块开始制作/开始制作/手机模拟器，并标识操作步骤1/2/3</p>
                </div>
                <div id="edit-steps">
                    <h4>编辑步骤</h4>
                    <div class="img img-contain usage-img" data-bg-src="images/guide/4.jpg"></div>
                    <h5>管理故事</h5>
                    <p>点击“管理故事”，可以回到“选择故事场景”页面;</p>
                    <h5>基本设置</h5>
                    <p>点击“基本设置”进入基本/分享信息内容编辑页面;</p>
                    <h5>删除模块</h5>
                    <p>需要删除的模块，点击侧边栏步骤中带有“垃圾桶”的标识即可;</p>
                    <h5>恢复模块</h5>
                    <p>需要恢复已删除的模块，点击侧边栏步骤中带“加号”的标识即可;</p>
                    <h5>编辑步骤</h5>
                    <p>每完成一步都可以点击“保存”进行下一步操作，已编辑过的步骤将会显示为红色。同时，可在编辑区域对需要修改步骤的进行直接修改，修改完成后点击“保存”即可。</p>
                    <h5>选择灵感文字</h5>
                    <p>在文字表达困难的时候，可查看并点击适合的“灵感文字”，被选择的灵感文字将在编辑框中显示，还可以根据需求对已选择的灵感文字进行修改，完成后点击“保存”即可；</p>
                    <p class="tips">提示：圈出管理故事/基本设置/垃圾桶/加号，并文字提示垃圾桶/加号的意义</p>
                </div>
                <div id="edit-content">
                    <h4>编辑内容</h4>
                    <div class="img img-contain usage-img" data-bg-src="images/guide/5.jpg"></div>
                    <hr />
                    <div class="img img-contain usage-img" data-bg-src="images/guide/6.jpg"></div>
                    <h5>替换图片</h5>
                    <p>将鼠标移动到需要替换的图片上，点击后进入上传新图片页面，根据提示可对新上传或已有图片进行调整，完成后点击“完成”按钮即可。</p>
                    <h5>加粗文字</h5>
                    <p>在文字对话框可对文字进行编辑，如需对部分文字进行加粗，选定需要加粗的文字后点击“B”键即可;</p>
                    <p class="tips">提示:</p>
                    <p class="tips">圈出灵感文字，并提示可替换灵感文字；</p>
                    <p class="tips">圈出保存按钮，并文字提示保存；</p>
                    <p class="tips">圈出加号按钮，并文字提示添加内容；</p>
                    <p class="tips">圈出垃圾桶按钮，并文字提示删除内容；</p>
                </div>
                <div id="delate-add">
                    <h4>删除和添加内容</h4>
                    <div class="img img-contain usage-img" data-bg-src="images/guide/7.jpg"></div>
                    <h5>添加内容</h5>
                    <p>点击中间编辑区域“加号”按钮，可添加一个内容编辑框；</p>
                    <h5>删除内容</h5>
                    <p>点击中间编辑区域“垃圾桶”按钮，可删除一个内容编辑框；</p>
                    <p class="tips">提示：圈出垃圾桶/加号/编辑加号按钮，并文字提示图标意义。</p>
                </div>
                <div id="sort">
                    <h4>调整顺序</h4>
                    <div class="img img-contain usage-img" data-bg-src="images/guide/8.jpg"></div>
                    <!-- <hr /> -->
                    <div class="img img-contain usage-img" data-bg-src="images/guide/9.jpg"></div>
                    <h5>调整内容顺序</h5>
                    <p>点击“调整顺序”，进入顺序排列对话框，把鼠标移动到需要调整顺序的图文故事的标识上，拖拽到需要调整的位置，点击“保存”即可；</p>
                    <p class="tips">提示：圈出调整顺序按钮和调整顺序图标。</p>
                </div>
                <div id="change-theme">
                    <h4>主题切换</h4>
                    <div class="img img-contain usage-img" data-bg-src="images/guide/10.jpg"></div>
                    <h5>切换主题</h5>
                    <p>点击右上角“调色板”按钮，就可在中间主题选择区域看到主题选择对话框，选定后点击“保存”即可；</p>
                    <p class="tips">提示：圈出调色板和其中一个主题圈出主题按钮，并文字提示选择主题；</p>
                </div>
                <div id="select-music">
                    <h4>选择音乐</h4>
                    <div class="img img-contain usage-img" data-bg-src="images/guide/11.jpg"></div>
                    <!-- <hr /> -->
                    <!-- <div class="img img-contain usage-img" data-bg-src="images/guide/11.jpg"></div> -->
                    <h5>切换音乐</h5>
                    <p>点击右上角“音符”按钮，进入音乐选择页面，可以通过音乐右边的开始播放和停止按钮对所选音乐进行试听，选定后的音乐将会变成红色；</p>
                </div>
                <div id="publish">
                    <h4>发布分享</h4>
                    <div class="img img-contain usage-img" data-bg-src="images/guide/12.jpg"></div>
                    <!-- <hr /> -->
                    <div class="img img-contain usage-img" data-bg-src="images/guide/13.jpg"></div>
                    <h5>分享故事</h5>
                    <p>故事制作完成后，点击“分享”按钮进入扫描二维码对话框，用手机扫描需要分享的故事二维码后，即可把故事分享到各大主流社交平台。</p>
                    <p class="tips">提示：圈出分享按钮/二维码， 文字提示可分享到各大社交平台；</p>
                    <hr />
                </div>      
            </div>
            <div class="col-lg-3 col-md-3"></div>
        </div>
    </div>

    <% include ../layouts/footer %>
    
    <% include ../includes/javascripts %>

    </script>
        <script type="text/javascript">
        $('#myNav').affix({
            offset: {
                top: 50,
                bottom: function () {
                    return (this.bottom = $('#footer').outerHeight(true))
                }
            }
        });
    </script>

    <% include ../includes/analytics %>

</body>
</html>
