<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <title>八音盒 - 团队成员</title>
    <% include about-head %>
</head>
<body>

    <% include ../layouts/header %>

    <div class="body container" id="team">
        <div class="navbar">
            <a class="nav-item" href="/about">关于我们</a>
            <a class="nav-item active" href="/about/team">团队成员</a>
            <a class="nav-item" href="/about/joinus">加入我们</a>
            <a class="nav-item" href="/about/press">媒体报道</a>
            <a class="nav-item" href="/about/contactus">联系我们</a>
        </div>
        <div class="about-item">
            <h2>创始人</h2>
            <br />
            <div class="contariner">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="img img-cover avatar-team" data-bg-src="images/aboutus/lb.jpg">
                            <div class="text-center team-sign">
                                <p class="team-title">大管家</p>
                                <p class="idiograph">不会放过任何嘈点的调侃先生</p>
                            </div>
                        </div>
                        <p class="text-center text-name">李博 CEO</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="img img-cover avatar-team" data-bg-src="images/aboutus/xd.jpg">
                            <div class="text-center team-sign">
                                <p class="team-title">技术担当</p>
                                <p class="idiograph">幻想统领黑客界的老鲜肉</p>
                            </div>
                        </div>
                        <p class="text-center text-name">丁鑫栋 CTO</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-item">
            <h2>Team</h2>
            <br />
            <div class="contariner">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="img img-cover avatar-team" data-bg-src="images/aboutus/yinzi.jpg">
                            <div class="text-center team-sign">
                                <p class="team-title">设计喵</p>
                                <p class="idiograph">低调的亚洲当红歌姬</p>
                            </div>
                        </div>
                        <p class="text-center text-name">银子</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img img-cover avatar-team" data-bg-src="images/aboutus/shiyu.jpg">
                            <div class="text-center team-sign">
                                <p class="team-title">设计狮</p>
                                <p class="idiograph">新晋萌宠动物园园长</p>
                            </div>
                        </div>
                        <p class="text-center text-name">Bear</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img img-cover avatar-team" data-bg-src="images/aboutus/xiujia2.jpg">
                            <div class="text-center team-sign">
                                <p class="team-title">市场打杂</p>
                                <p class="idiograph">职业无国界的电视剧杀手</p>
                            </div>
                        </div>
                        <p class="text-center text-name">秀佳</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img img-cover avatar-team" data-bg-src="images/aboutus/yanjun.jpg">
                            <div class="text-center team-sign">
                                <p class="team-title">市场小二</p>
                                <p class="idiograph">据说做饭是女孩纸的修养</p>
                            </div>

                        </div>
                        <p class="text-center text-name">Cecilia</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img img-cover avatar-team" data-bg-src="images/aboutus/hl.jpg">
                            <div class="text-center team-sign">
                                <p class="team-title">新媒体小编</p>
                                <p class="idiograph">月月光铲屎官</p>
                            </div>
                        </div>
                        <p class="text-center text-name">Hayley</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img img-cover avatar-team" data-bg-src="images/aboutus/jj.jpg">
                            <div class="text-center team-sign">
                                <p class="team-title">市场</p>
                                <p class="idiograph">少女心の女汉纸</p>
                            </div>
                        </div>
                        <p class="text-center text-name">Jane</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img img-cover avatar-team" data-bg-src="images/aboutus/zy.jpg">
                            <div class="text-center team-sign">
                                <p class="team-title">前端工程狮</p>
                                <p class="idiograph">内心萌系的工程师</p>
                            </div>
                        </div>
                        <p class="text-center text-name">张扬</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img img-cover avatar-team" data-bg-src="images/aboutus/liran.jpg">
                            <div class="text-center team-sign">
                                <p class="team-title">前端小兵</p>
                                <p class="idiograph">不想当店长的程序员不是好摄影师</p>
                            </div>
                        </div>
                        <p class="text-center text-name">Alex</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img img-cover avatar-team" data-bg-src="images/aboutus/sirong.jpg">
                            <div class="text-center team-sign">
                                <p class="team-title">市场小三</p>
                                <p class="idiograph">Social queen里的安静美女纸</p>
                            </div>
                        </div>
                        <p class="text-center text-name">丝绒</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img img-cover avatar-team" data-bg-src="images/aboutus/xiaohui.jpg">
                            <div class="text-center team-sign">
                                <p class="team-title">设计尸</p>
                                <p class="idiograph">Less is more</p>
                            </div>
                        </div>
                        <p class="text-center text-name">Lynn</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img img-cover avatar-team" data-bg-src="images/aboutus/lantian.jpg">
                            <div class="text-center team-sign">
                                <p class="team-title">前端</p>
                                <p class="idiograph">处女座 || 野生程序猿 || 受迫害妄想症</p>
                            </div>
                        </div>
                        <p class="text-center text-name">sebastianlan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <% include ../layouts/footer %>
        
    <% include ../includes/javascripts %>

    <% include ../includes/analytics %>

</body>
</html>
