
$modal-control-label: #989ca2;
$modal-input: #323a45;
$privacy-policy: #7f868f;
$modal-bg: #1e2531;

#global-header {
    padding: 20px 30px;
    background-color: #323a45;
    .logo-header {
        color: #fff;
        background-color: $brand-primary;
        text-align: center;
        padding: 5px 4px;
        border-radius: 2px;
        font-size: 30px;
    }
    .anonymous {}
    .btn-login, .btn-register {
        width: 100px;
    }
    .btn-login {
        color: #eee;
        &:hover, &:active, &:focus {
            color: $brand-primary;
        }
    }
    .btn-white {
        background-color: transparent;
        outline: none;
        color: white;
        padding: 0;
    }
    .userinfo {
        position: relative;
        margin-top: 5px;
        height: 100%;
        .dropdown-menu {
            top: 120%;
            right: -30px;
            min-width: 116px;
            a {
                margin: 0;
                padding: 3px 5px;
            }
        }
    }
    .avatar {
        color: white;
        cursor: pointer;
    }
    .icon-angle-down {
        font-size: 14px;
    }
    .user-menu {
        width: 120px;
        position: absolute;
        right: 10px;
        z-index: 1;
        top: 60px;
        background-color: $body-bg;
        border: 1px solid rgba($gray-light, .5);
        // margin-top: 75px;
        .user-menu-item {
            cursor: pointer;
            color: #656666;
            padding-left: 8px;
            padding-top: 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba($gray-light, .5);
            .iconfont {
                color: #656666;
                font-size: 16px;
            }
        }
    }
    .modal-dialog {
        // margin-top: 100px;
        // min-width: 300px;
        width: 440px;
        margin: 40px auto;
    }

    .modal-content {
        letter-spacing: 1px;
        button {
            &:focus {
                    outline: none;
                }
        } 
        .modal-header {
            padding: 40px 40px;
            border: 0;
            background-color: $modal-bg;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            // height: 
            .logo-modal{
                font-size: 55px;
                color: #d2dadf;
                background-color: transparent;
                padding: 0;
            }
            .close {
                font-size: 40px;
                margin-top: -75px;
                margin-right: -65px;
                text-shadow: none;
                opacity: 1;
                &:focus {
                    outline: none;
                }
                i {
                    font-size: 20px;
                    color: #7D8790;
                    font-weight: bold;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        .modal-body {
            padding: 25px 40px 10px;
            .control-label {
                color: $modal-control-label;
                font-weight: normal;
                letter-spacing:1px
            }
            input {
                color: $modal-input;
                font-size: 17px;
                font-weight: 300;
                letter-spacing: 1px;
            }
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-control {
            border: 0;
            border-radius: 0;
            border-bottom: 1.5px solid #e8eaf1;
            padding: 0;
        }

        .modal-footer {
            position: relative;
            border-top: 0;
            padding: 10px 40px 30px;

            .btn {
                width: 100%;
                padding: 5px;
                border-radius: 3px;
                h4 {
                    font-size: 17px;
                    letter-spacing:2px
                }
            }
            .wechat a:hover, .privacy-policy a {
                text-decoration: underline;
            }
            .switch-to-register,  .switch-to-login{
                background-color: transparent;
                border: 0;
                padding: 0;
            }
            span {
                color: $brand-primary;
                letter-spacing: 1px;
            }
        }
        .forget-pw {
            display: inline-block;
            position: absolute;
      /* padding-bottom: 10px; */
      /* margin-top: -3em; */
            top: -50px;
            right: 40px;
            a {
                font-size: 13px;
                color: #949eb3;
            }
        }
        .login-footer-others, .register-footer-others {
            margin-left: -40px;
            margin-right: -40px;
            font-size: 13px;
            color: $modal-control-label;
            overflow: hidden;
            margin-top: 3.5em;
            margin-bottom: -4.4em;
            a {
                color: $modal-control-label;
            }  
        }
        .register-footer-others {
            color: #989ca2;
            margin-top: 3em;
            // margin-bottom: -2.5em;
        }
        .privacy-policy {
            color: $privacy-policy;
            padding-top: 20px;
            padding-bottom: 10px;
            a {
                font-size: 13px;
                color: $privacy-policy;
            }
        }
        .register-footer {
            padding-bottom: 20px;
        }
    }
}

.modal-backdrop.in{
    background-color: #1c1f28;
    opacity: .95;
}


