
#view-couple[data-theme=oldtimes] {
    background-color: #fff;
    color: $gray-light;
    > header {
        box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1);
        padding-top: 40%;
        background: url(#{$static-url}themes/oldtimes/images/oldtimes-couple-hands.jpg) no-repeat top;
        background-size: contain;
        color: $oldtimes-green;
        margin-bottom: 0;
    }
    .name {
        padding-bottom: 5px;
        border-bottom: 2px dotted darken($oldtimes-green, 10%);
        font-family: veneer, $font-family-sans-serif;
        mark, .mark {
            font-size: 200%;
        }
    }
    .avatar {
        margin: 20px auto;
        width: 90%;
        max-width: 300px;
        padding-top: 100%;
        position: relative;
        .background {
            z-index: 1;
        }
    }
    .groom, .bride {
        margin-bottom: 30px;
    }
}
