
#view-information[data-theme=oldtimes] {
    background-color: #fff;
    color: $gray-light;
    > header {
        margin-top: 30px;
        margin-bottom: 10px;
        padding-top: 45px;
        background: url(#{$static-url}themes/oldtimes/images/oldtimes-party-icon.png) no-repeat top;
        background-size: auto 45px;
        color: $oldtimes-green;
    }
    > .container {
        max-width: $container-sm;
    }
    mark, .mark {
        color: $oldtimes-green;
    }
    article {
        margin-bottom: 30px;
    }
    .subtitle {
        padding-bottom: 10px;
        border-bottom: 2px dotted darken($oldtimes-green, 10%);
        .fa { color: $oldtimes-green; }
    }
}
