#view-gallery {
    background-color: #f5f5f5;
    .story-item {
        @include user-select(none);
        cursor: pointer;
        position: relative;
        padding-bottom: 60%;
    }
    .dark-layer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding-top: 20%;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        > span {
            display: inline-block;
            padding: 9px 24px;
            border-radius: 20px;
            background-color: #e5e5e5;
            font-size: $font-size-small;
        }
    }
    .dark-layer {
        opacity: 0;
        @include transition(opacity .2s linear);
    }
    .story-item:hover .dark-layer,
    .story-item:focus .dark-layer {
        opacity: 1;
    }
    .safari-window {
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .1);
        margin-bottom: 30px;
    }
    .safari-buttons-bar {
        height: 10px;
        border-radius: 3px 3px 0 0;
        background-color: #ddd;
        padding-left: 4px;
        @include clearfix();
        > i {
            float: left;
            display: block;
            height: 2px;
            width: 2px;
            border-radius: 1px;
            margin-top: 4px;
            margin-left: 4px;
            background-color: #aaa;
        }
    }
    .animated {
        @include animation-duration(1s);
        &:nth-child(2) { @include animation-delay(0.2s); }
        &:nth-child(3) { @include animation-delay(0.4s); }
        &:nth-child(4) { @include animation-delay(0.6s); }
        &:nth-child(5) { @include animation-delay(0.8s); }
        &:nth-child(6) { @include animation-delay(1.0s); }
        &:nth-child(7) { @include animation-delay(1.2s); }
        &:nth-child(8) { @include animation-delay(1.4s); }
    }
    > .container.invisible {
        .animated {
            @include animation(none);
        }
    }
}
