<div id="explore-story-template">
    <div class="story-shower">
        <div class="story-cover" data-bg-src="{{data.coverImage}}"></div>
        <div class="extra-info">
            <span><i class="iconfont icon-yanjing"></i> 1222</span>
            <span><i class="iconfont icon-shixinxinxing"></i> 2333</span>
            <span class="scene-type-icon"data-scene-type=""></span>
        </div>
    </div>
</div>