<script id="newexplore-story-template" type="text/x-handlebars-template">
    <div class="story-shower">
        <div class="story-cover img" data-bg-src="{{data.coverImage}}">
            <div class="story-info">
                    <p class="story-title text-center">{{title}}</p>
            </div>
        </div>
            
        <div class="extra-info">
            <div class="icon-container">
            <span class="pull-right"><i class="iconfont icon-display"></i> <span>{{views}}</span></span>
            <span class="pull-left"><i class="iconfont icon-like"></i> <span>{{likes}}</span></span>
            </div>
        </div>
    </div>
</script>
