<script id="ranking-story-template" type="text/x-handlebars-template">
    <div class="story-shower">
        <div class="story-cover img pull-left" data-bg-src="{{data.coverImage}}">
        </div>
        <div class="story-info pull-right">
            <p class="story-title">{{title}}</p>
            <div class="icon-container">
                <span class="pull-right"><i class="iconfont icon-display"></i> <span>{{views}}</span></span>
                <span class="pull-left"><i class="iconfont icon-like"></i> <span>{{likes}}</span></span>
            </div>
        </div>
    </div>
</script>
