<script id="story-comment-item-template" type="text/x-mustache-template" >
<div class="comment-item">
    <div class="comment-avatar">
        <div class="img img-cover sender-avatar" data-bg-src="{{avatar}}"></div>
    </div>
    
    <div class="comment-content">
        <div class="author">{{name}}</div>
        <div class="content">{{message}}</div>
        <i class="time_created">{{formatted_date}}</i>
    </div>
    <button class="comment-delete-btn"><i class="iconfont icon-delete"></i></button>
</div>
</script>