<script id="template-prototype-item" type="text/x-handlebars-template">
    <div class="prototype-shower"  data-toggle="modal" data-target="#preview-modal">
        <div class="img image-bg" data-bg-src="{{image}}"></div>
        <div class="img image-blur">
            <div class="caption">
                <div class="title">{{title}}</div>
                <div class="keywords"><i class="iconfont icon-tag"></i> {{keywords}}</div>
                <div class="compose-button"></div>
            </div>
        </div>
    </div>
</script>

<script id="template-theme-item" type="text/x-handlebars-template">
    <div class="avatar">
        <div class="img" data-bg-src="{{image}}"></div>
    </div>

</script>
