
#view-hero[data-theme=summer] {
    padding: 20px;
    color: #fff;
    > .container {
        padding: 0;
    }
    .top, .bottom {
        border-style: solid;
        border-color: rgba(255, 255, 255, 1);
    }
    .top {
        border-width: 2px 2px 0 2px;
        padding-bottom: 80%;
    }
    .bottom {
        border-width: 0 2px 2px 0;
        padding: 5px 50px 5px 0;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
    }
    .name {
        margin: 0;
        padding: 20px;
        background: rgba(0, 0, 0, 0.3);
    }
}
