<div class="footer">
    <div class="footer-link-container">
        <div class="footer-section text-center col-md-4 col-sm-4 col-xs-6">
            <div class="footer-item">
                <a href="/about">关于我们</a>
            </div>
            <div class="footer-item">
                <a href="/about/joinus">加入我们</a>
            </div>
            <div class="footer-item">
                <a href="/about/contactus">联系我们</a>
            </div>
        </div>

        <div class="footer-section col-md-4 qr-section col-sm-4 hidden-xs">
            <div class="footer-item">
                扫描二维码制作
                <div class="qr-container">
                <img src="/assets/images/qr-compose.png" />
                </div>
            </div>
        </div>

        <div class="footer-section text-center col-md-4 col-sm-4 col-xs-6">
            <div class="footer-item">
                <a href="http://blog.wedfairy.com/">BLOG</a>
            </div>
            <div class="footer-item">
                <a href="javascripts:void(0);">帮助</a>
            </div>
            <div class="footer-item">
                <a href="/about/law">法律声明</a>
            </div>

        </div>
    </div>

    <div class="footer-copyright">
            <div class="copyright-text">@八音盒轻故事 2015</div>
            <div class="social-icon">
                <a href="http://weibo.com/u/5224024448/"><i class="iconfont icon-weibo"></i></a>
                <a class="weixin-container"><i class="iconfont icon-weixin pointer"></i></a>
            </div>
    </div>
</div>