<div class="header">
    <div class="logo-container" >
        <a href="http://www.wedfairy.com/">
            <img src="/assets/images/logo-text.png" width=80 />
        </a>
    </div>


    <div class="right-nav">
        <div class="nav-item"><a href="/register">注册</a></div>
        <div class="nav-item"><a href="/login">登录</a></div>
        <div class="nav-item menu-btn pointer"><i class="iconfont icon-menu"></i></div>
    </div>

    <!-- <div class="avatar-container">
        <div class="avatar-round">
            <i class="iconfont icon-iconyonghumorentouxiang"></i>
        </div>

        <i class="iconfont icon-jiantou pointer user-menu-btn"></i>
    </div>

    <div class="user-menu box-shadow view-hide">
        <div class="user-menu-item change-password-btn" data-href="/change-password">
            <i class='iconfont icon-usermimaxiugai'></i> 修改密码
        </div>
        <div class="user-menu-item logout-btn">
            <i class='iconfont icon-tuichu'></i> 登出
        </div>
    </div> -->
</div>

<div class="modal-template-container view-hide">
    <% include ../modal/login %>
</div>

<div id="modal-container">
<% include ../modal/register %>
</div>

