<div class="header">
    <div class="logo-container" >
        <a href="http://www.wedfairy.com/">
            <img src="/assets/images/logo-text.png" width=80 />
        </a>
    </div>


    <div class="right-nav">
        <div class="nav-item register-btn"><a href="javascript:void(0)">注册</a></div>
        <div class="nav-item login-btn"><a href="javascript:void(0)">登录</a></div>
        <div class="nav-item menu-btn pointer"><i class="iconfont icon-menu"></i></div>
    </div>

    <div class="extra-menu view-hide box-shadow">
        <a class="extra-menu-item" href="/quick-create#wedding" target="_blank">
            婚礼邀请函
        </a>
        <a class="extra-menu-item" href="/quick-create#lover" target="_blank">
            情感故事
        </a>
        <a class="extra-menu-item" href="" target="_blank">
            旅游日记
        </a>
        <a class="extra-menu-item" href="/quick-create#idol" target="_blank">
            偶像故事
        </a>
        <a class="extra-menu-item" href="/quick-create#friendship" target="_blank">
            闺蜜故事
        </a>

        <a class="extra-menu-small-item" href="/about" target="_blank" style="margin-top: 10px;">
            关于我们
        </a>
        <a class="extra-menu-small-item" href="/about/joinus" target="_blank">
            加入我们
        </a>
        <a class="extra-menu-small-item" href="/about/contactus" target="_blank">
            联系我们
        </a>
        <a class="extra-menu-small-item" href="/about/faq" target="_blank">
            FAQ
        </a>
        <a class="extra-menu-small-item" href="http://blog.wedfairy.com/" target="_blank">
            BLOG
        </a>



    </div>

    <div class="avatar-container view-hide">
        <div class="avatar-round">
            <i class="iconfont icon-touxiang"></i>
        </div>

        <i class="iconfont icon-jiantou pointer user-menu-btn"></i>
        <i class="iconfont icon-menu"></i>
    </div>

    <div class="user-menu box-shadow view-hide">
        <div class="user-menu-item show-mobile-number"></div>
        <div class="user-menu-item change-password-btn" data-href="/change-password">
            <i class='iconfont icon-usermimaxiugai'></i> 修改密码
        </div>
        <div class="user-menu-item logout-btn">
            <i class='iconfont icon-tuichu'></i> 登出
        </div>
    </div> 
</div>

<div class="modal-template-container view-hide">
    <% include ../modal/login %>
    <% include ../modal/register %>
</div>

<div id="global-header-modal-container">
</div>

