<div class="header">
    <div class="logo-container pull-left" >
        <a href="/"><i class="iconfont icon-logo"></i></a>
    </div>
    <div class="user-log pull-right">        
        <div class="login-container pull-left hidden">
            <ul>
                <li><a href="http://site.wedfairy.com/login">登录</a></li>
                <li class="register-box"><a href="http://site.wedfairy.com/register">免费注册</a></li>
            </ul>
        </div>
        <div class="user-info pull-right">
            <!-- user info -->
            <div class="avatar">
                <a href="http://site.wedfairy.com"><i class="iconfont icon-user"></i></a>
                <i class="iconfont icon-angle-down pointer user-menu-btn"></i>
            </div>

            <div class="user-menu hidden">
                <div class="user-menu-item show-username"> 
                </div>
                <div class="user-menu-item change-password-btn" data-href="/change-password">
                    <!-- <i class='iconfont icon-usermimaxiugai'></i> 修改密码 -->
                    <i class="fa fa-lock"></i> 修改密码
                </div>
                <div class="user-menu-item logout-btn">
                    <!-- <i class='iconfont icon-tuichu'></i> 登出 -->
                    <i class="fa fa-sign-out"></i> 登出
                </div>
            </div>
        </div>
    </div>
</div>